<div class="container-fluid prod-wrapper">
  <div class="col-sm-12">
    <div class="backToHomePage" style="margin-top: 30px;">
      <label (click)="backToHome()"><img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/arrow.jpg" class="product-img" alt="product-image">Back</label>
    </div>
  </div>
</div>

<div class="container-fluid prodcut-wrapper">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4 style="border-bottom: 1px solid #ddd;margin-bottom: 30px;">BEST OF EUROPE </h4>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-6">
      <div class="product-details">
        <h5><label>Package ID</label><span>|</span>BEST OF EUROPE </h5>
        <h5><label>Duration</label><span>|</span>  11 nights - 12 days </h5>
        <h5><label>Travel Date</label><span>|</span> 07 June, 2020    </h5>
        <h5><label>Cost</label><span>|</span>  1,74,999.00  <i>INR</i></h5>
      </div>
      <div class="product-info">
          <mat-tab-group>
              <mat-tab label="Itinerary" style="text-transform: uppercase;">
                <div class="product-info-content">
                  <p><strong>Day 01: 07 June: Arrive Milan </strong></p>
                <p>Upon arrival at the Milan International Airport meet our representative who will assist you to board the coach, later we proceed for the hotel check In. Overnight stay at Hotel.   (Dinner) </p>
                <p><strong>Day 02: 08 June: Milan - Pisa (Birds Eye View from Pizzale Michaelangelo Point, Photo stop at Leaning Tower)</strong></p>
                <p>Today after breakfast proceed towards Florence and have photo stops at Piazzale Michelangelo Point and Statue of David. Later proceed for photo stops at the other famous sites located on the same Field of Miracles. Witness the enchanting city of Pisa to witness photo stop at the wonder of the world-the Leaning Tower of Pisa. Overnight stay in Pisa. <strong>(Breakfast, Lunch, Dinner) </strong></p>
                <p><strong>Day 03: 09 June: Pisa - Rome (Guided Rome City Tour) </strong></p>
                <p>After having breakfast at the hotel proceed to Rome and enjoy city tour which includes at Arch of Constantine, Circus Maximus, the legendary Trevi Fountain and photo stop at the Colosseum. Later some time for shopping. <strong>(Breakfast, Lunch, Dinner) </strong></p>
                <p><strong>Day 04: 10 June: Rome (Vatican City Tour) </strong></p>
                <p>Today after having breakfast at hotel Proceed to Vatican City-the smallest nation in the world! This includes Vatican Museum, one of the largest museum complexes in the world, the sistine Chapel and St. Peter's Square with St. Peter's Basilica - one of the largest churches in the world.<strong> (Breakfast, Lunch, Dinner) </strong></p>
                <p><strong>Day 05: 11 June: Rome - Padua, Venice (City Tour) </strong></p>
                <p>Today after having breakfast at the hotel head Venice for city tour via canal cruise Tronchetto Pier past incredible miniature canals to the Piazza San Marco. Today also includes a tour with a brief visit to a Murano Glass Showroom for a demonstration in glass blowing. Also enjoy a romantic Gondola ride. overnight stay in Padua, Venice.<strong> (Breakfast, Lunch, Dinner) </strong></p>
                <p><strong>Day 06: 12 June: Padua - Innsbruck (Swarovski Crystal Worlds, Innsbruck City tour) </strong></p>
                <p>Today after having breakfast at the hotel activities include proceed to Wattens to visit internationally renowned Swarovski Crystal Worlds where we get to see the world's biggest crystal and it's smallest! Later proceed for an orientation tour of the city which includes Golden Roof or 'Goldenes Dachl'the Imperial Church and the 'Hofburg' or Imperial Palace. Overnight in Innsbruck<strong> (Breakfast, Lunch, Dinner) </strong></p>
                <p><strong>Day 07: 13 June: Innsbruck - Rhine Falls - Swiss </strong></p>
                <p>Today after having breakfast at the hotel, we proceed for scenic and long journey to city which is Heart of Europe i.e. Switzerland. Overnight Stay in Switzerland   <strong>(Breakfast, Local lunch, Dinner) </strong></p>
                <p><strong>Day 08: 14 June: Swiss (Mount Titlis with Ice Flyer, Lucerne city tour)   </strong></p>
                <p>Today we will be visiting Mt.Titlis to experience 'Titlis Rotair'-world's first revolving cable-car ride! Here we also experience the thrilling Ice Flyer ride and snow slides (subject to operation).Today we also get to enjoy Lucerne city tour which includes Lion Monument, Kappelbrucke Wooden Bridge. Here we also have leisure time for shopping and enjoying the local scenic beauty.  <strong>(Breakfast, Packed Lunch, Dinner) </strong></p>
                <p><strong>Day 09: 15 June: Swiss (Day Free) </strong></p>
                <p>Today after breakfast, day is free to explore the city on own. OR join our optional tour for day excursion of a visit to Jungfraujoch – The Top of Europe, for a memorable encounter with snow and ice. You will be amazed at the scenic splendor that you see from aboard the cogwheel train, which takes you to a height of 3500 meters to reach Jungfraujoch – Europe's highest railway station! Experience the magic of the mountains and visit the Ice Palace on top of the tallest glacier in the Alps. Take an elevator to the Sphinx observatory deck. Later drive through Interlaken city <strong>(Breakfast, Lunch, Dinner) </strong></p>
                <p><strong>Day 10: 16 June: Swiss - Paris (Seine River Cruise) </strong></p>
                <p>After having breakfast at the hotel proceeds to Pairs. Enjoy Siene River Cruise in the evening. Overnight stay at Paris<strong> (Breakfast, Lunch, Dinner) </strong></p>
                <p><strong>Day 11: 17 June: Paris (Guided City Tour of Paris with Eiffel Tower - 3rd Level) </strong></p>
                <p>Today after having breakfast enjoy city tour of Paris which will includes the Louvre Glass Pyramid, Garnier's Opera, Place de la Concorde, Champs Elysees, Napoleanic Arc de Triomphe and Hotel des Invalides. Today visit wonder of the world ascend by an elevator to the 3rd level of the iconic Eiffel Tower. <strong>(Breakfast, Lunch, Dinner) </strong></p>
                <p><strong>Day 12: 18 June: Paris (Free Day for shopping) - Evening fly back to India </strong></p>
                <p>Enjoy your breakfast at hotel. Day is free for shopping and self planned activities. Afternoon check out from hotel. In time transfer to airport to board flight back to India.<strong> (Breakfast) </strong></p>

                </div>
              </mat-tab>
              <mat-tab label="Inclusions">
                <div class="product-info-content">
                  <ul> <strong>Inclusions:</strong>
                    <li>Return Economy Class Airfare with Airport Taxes (Ex-Hyderabad) </li>
                    <li>01 Night Accommodation Hub Hotel or similar in Milan</li>
                    <li>01 Night Accommodation in Pisa at B&amp; B Hotel or similar</li>
                    <li>02 Night Accommodation oin Rome at Idea Pomezia or similar</li>
                    <li>01 Night Accommodation in Hotel Tulip Inn or similar in Padova, Venice</li>
                    <li>01 Night Accommodation in Alpine Park or similar in Innsbruck</li>
                    <li>03 Night Accommodation in Movenpick / Terrace or similar in Switzerland</li>
                    <li>02 Night Accommodation in Park Inn By Radisson or similar in Paris</li>
                    <li>Daily Breakfast at the Hotel</li>
                    <li>Pizzale Michealangelo View Point of Florence</li>
                    <li>Photo stop at Leaning Tower of Pisa</li>
                    <li>Guided Rome City Tour</li>
                    <li>Guided Vatican Tour</li>
                    <li>Guided Venice City tour with visit to Murano Glass Factory and Showroom</li>
                    <li>Gondola Ride in venice</li>
                    <li>Swarovski Crystal World Museum in Wattens</li>
                    <li>Orientation tour of the Innsbruck city includes Golden Roof or &#39;Goldenes Dachl&#39;the Imperial Church and the &#39;Hofburg&#39; or Imperial Palace</li>
                    <li>Mt.Titlis to experience &#39;Titlis Rotair&#39;-world&#39;s first revolving cable-car</li>
                    <li>Lucerne city tour which includes Lion Monument, Kappelbrucke Wooden Bridge</li>

                    <li>Paris city tour</li>

                    <li>Visit to Eiffel Tower 3rd level</li>
                    <li>Enjoy Siene River Cruise</li>
                    <li>Meals as per the itinerary</li>
                    <li>All Tours and Transfers as per the itinerary</li>
                    <li>Services of Experiences and Caring Tour Manager</li>
                    <li>Schengen Visa charges</li>
                    <li>Travel insurance worth of EURO 30,000/- up to 60 years</li>

                  </ul>
                </div>
              </mat-tab>
              <mat-tab label="Conditions">
                <div class="product-info-content">
                  <ul><li>Any meals and services which is not a part of inclusions  </li></ul>
                </div>
              </mat-tab>
          </mat-tab-group>
      </div>
    </div>
    <div class="col-sm-6">
      <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/EUROPE2.jpg" class="product-img" alt="product-image">
    </div>
  </div>
</div>
</div>
<app-home-page-footer></app-home-page-footer>

