<div class="container-fluid prod-wrapper">
  <div class="col-sm-12">
    <div class="backToHomePage" style="margin-top: 30px;">
      <label (click)="backToHome()"><img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/arrow.jpg" class="product-img" alt="product-image">Back</label>
    </div>
  </div>
</div>

<div class="container-fluid prodcut-wrapper">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4 style="border-bottom: 1px solid #ddd;margin-bottom: 30px;">BEST OF AUSTRALIA</h4>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-6">
      <div class="product-details">
        <h5><label>Package ID</label>
        <span>|</span>BEST OF AUSTRALIA</h5>
        <h5>
        <label>Travel Date</label>
        <span>|</span>8th May 2020</h5><h5><label>Duration</label>
        <span>|</span> 11 Nights 12 Days</h5>
        <h5><label>Cost</label>
        <span>|</span> 2,89,999.00 <i>INR</i></h5>
      </div>
      <div class="product-info">
          <mat-tab-group>
              <mat-tab label="Itinerary" style="text-transform: uppercase;">
                <div class="product-info-content">
                  <p><strong>DAY 00: MUMBAI – SYDNEY</strong></p>
                <p>Passengers are requested to report 3 Hours before the scheduled flight. Board your flight to Sydney.Meals on Board</p>
                <p><strong>DAY 01: ARRIVE SYDNEY – DAY FREE AT LEISURE</strong></p>
                <p>Arrive into Sydney and proceed to hotel and check-in. (Group Check in time : Post 3pm ). Relax and rest of the day will be at leisure. Overnight at the hotel<strong>.( Lunch &amp; Dinner)<br>
                </strong></p>
                <p><strong>DAY 02: SYDNEY – FULL DAY CITY TOUR OF SYDNEY WITH 3 ATTRACTIONS PASS</strong></p>
                <p>After breakfast, proceed for Full Day City Tour of Sydney which includes visit to Bondi Beach,
                  Harbour Bridge, Darling Harbour, The Rocks, King Cross, Chinatown &amp;amp; Opera House (outsideview) &amp;amp; Mrs. Macquarie&amp;#39;s Chair. Later choose to visit any of 3 attractions from Sydney Sea Life Aquarium or Wild Life Zoo or The Sydney Tower Eye or Madame Tussauds Wax Museum. Overnight at the hotel. <strong>(Breakfast, Lunch &amp; Dinner)</strong></p>
<p><strong>DAY 03: SYDNEY – BRISBANE – GOLD COAST</strong></p>
                <p>After breakfast check-out and proceed to airport for your flight to Brisbane. On arrival transfer to Gold Coast. Rest of the day free at leisure. <strong>(Breakfast, Lunch &amp; Dinner)</strong></p>
<p><strong>DAY 04: GOLD COAST – MOVIE WORLD</strong></p>
                <p>After breakfast, proceed to Movie World which has various movie- themed rides and attractions ranging from motion simulators to roller coasters and slow river rides. In addition, famous characters also patrol the park, allowing visitors the chance to take photos with them. Overnight at the hotel.<strong> (Breakfast, Lunch Coupon &amp; Dinner)</strong></p>
<p><strong>DAY 05: GOLD COAST – DREAM WORLD</strong></p>
                <p>After breakfast, proceed to the Dream World. Dream World is also home to two very special worlds just for children with ABC Kids World and the DreamWorks Experience. Overnight at the hotel.<strong> (Breakfast, Lunch Coupon &amp; Dinner)</strong></p>
<p><strong>DAY 06: GOLD COAST – DAY FREE AT LEISURE</strong></p>
                <p>After breakfast, day free for leisure to explore Gold Coast on own. Overnight at the hotel<strong>. (Breakfast, Lunch &amp; Dinner)</strong></p>
                <p><strong>DAY 07: BRISBANE – CAIRNS – KURUNDA RAINFOREST TOUR – SKYRAIL</strong></p>
                <p>After an early breakfast, check-out of the hotel and proceed to the airport to board your flight to Cairns. Arrive into Cairns and check in at the hotel. Later proceed for the Kurunda Rainforest Tour. Board the Sky rail for your journey through some of the most beautiful scenery of the rainforest. Reach Kurunda Rainforest - a delightful place with Heritage Markets. Enjoy free time there. Later return back. Overnight at the hotel. <strong>(Breakfast, Lunch &amp; Dinner)</strong></p>
                <p><strong>DAY 08: CAIRNS – BIG CAT GREAT BARRIER REEF CRUISE TOUR</strong></p>
                <p>After breakfast, proceed for a Full Day Outer Great Barrier Reef Tour on the Big Cat Cruise. On board, enjoy a presentation of the marine life from a marine naturalist. Witness an awe-inspiring underwater spectacle of brilliantly coloured corals and more than 10,000 unique marine species from the Semi-Submersible Glass Bottom Boat. Swim and Snorkel among the beautiful Coral Gardens of the Outer Great Barrier Reef. Return back to hotel. Overnight at the hotel. <strong>(Breakfast, Lunch &amp; Dinner)</strong></p>
<p><strong>DAY 09: CAIRNS – MELBOURNE</strong></p>
                <p>After breakfast, check- out of the hotel and proceed to Cairns Airport to board your flight to Melbourne. Arrive into Melbourne and proceed to hotel for check in. Overnight at the hotel. <strong>(Breakfast, Lunch &amp; Dinner)</strong></p>
                <p><strong>DAY 10: MELBOURNE – FULL DAY GREAT OCEAN ROAD TOUR</strong></p>
                <p>After breakfast, proceed for Full Day Great Ocean Road Tour. Travel down the Great Ocean Road and upon arrival witness The Twelve Apostles. The drive itself is as scenic as much as the destination. Evening return back to Melbourne.Overnight at the hotel. <strong>(Breakfast, Pizza Lunch &amp; Dinner)</strong></p>
                <p><strong>DAY 11: MELBOURNE – CITY TOUR OF MELBOURNE – TRAM RIDE - EUREKA SKY DECK 88 -MELBOURNE CRICKET GROUND FROM INSIDE - PHILIP ISLAND TOUR</strong></p>
                <p>After breakfast, proceed for full day City tour of Melbourne. Enjoy the tram ride in Melbourne. Visit the Eureka Sky Deck 88 – Melbourne’s Greatest View Point and the Melbourne Cricket Ground to enjoy the Guided tour from Inside. Later proceed to the Philip Island to witness the Penguin Parade &amp;amp; also the Koala Centre for the close viewing of Koalas. Overnight at the hotel.<strong> (Breakfast, Lunch &amp; Dinner)</strong></p>
                <p><strong>DAY 12: MELBOURNE – INDIA</strong></p>
                <p>After breakfast, check out of hotel and proceed to the International Airport to board your flight for India with a fun filled and unforgettable experience with us, arrive in India with happy memories!! <strong>(Breakfast, Meals On-Board)</strong></p>

                </div>
              </mat-tab>
              <mat-tab label="Inclusions">
                <div class="product-info-content">
                  <ul>
                    <li>11 Night’s stay in hotels with buffet breakfast.</li>
                    <li>Airport transfers on SIC basis</li>
                    <li>Return Economy Class Airfare (Ex Bom)</li>
                    <li>Daily Lunches / Packed Lunches &  Dinners in Indian Restaurants</li>
                    <li>All Mentioned Sightseeing with entrance Ticket</li>
                    <li>Side Trip Tickets For Internal Flights in Australia with 20 kg Check in Baggage</li>
                    <li>All Airport Taxes with Fuel Surcharge &  Taxes as applicable</li>
                    <li>Sydney Full Day City Tour With 3 Attractions Pass</li>
                    <li>Gold Coast Movie World, Dream World</li>
                    <li>Cairns Kurunda Rain Forest Tour (One Way by Sky Rail)</li>
                    <li>Melbourne City Tour with Philip Island Tour, Eureka Sky Deck 88, Full Day Great Ocean Road Tour, Guided Tour Of
                    Melbourne Cricket Ground From Inside, Penguin Parade, Koala Centre</li>
                    <li>Australia Visa fees with Service Charge</li>
                    <li>All sightseeing and Airport Transfers by Con Coaches</li>
                    <li>International Travel Insurance upto the age of Age of 70 Years Only.</li>
                    <li>Services of tour Manager will be available only for a group of min 25 pax & above</li>
                    <li>Government Service Tax (GST) @ 5% as levied by the government of India.</li>
                  </ul>
                </div>
              </mat-tab>
              <mat-tab label="Conditions">
                <div class="product-info-content">
                  <ul><li>Passports Issued Outside the Jurisdiction of Mumbai based consulates, shall Be Subject to INR 1000/- Extra for obtaining the Visa from
                    the applicable Consulates.</li>
                    <li>Porterage for bell boy service, Pay Channels, Laundry, Wines, Mineral Water, Telephone Charges, Optional Tours and All Items of Personal
                    Nature, Spas etc.</li>
                    <li>Anything not specifically mentioned in above tour inclusions</li></ul>
                </div>
              </mat-tab>
          </mat-tab-group>
      </div>
    </div>
    <div class="col-sm-6">
      <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/AUSTRALIA.jpg" class="product-img" alt="product-image">
    </div>
  </div>
</div>
</div>
<app-home-page-footer></app-home-page-footer>

