<div class="container-fluid prod-wrapper">
  <div class="col-sm-12">
    <div class="backToHomePage" style="margin-top: 30px;">
      <label (click)="backToHome()"><img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/arrow.jpg" class="product-img" alt="product-image">Back</label>
    </div>
  </div>
</div>

<div class="container-fluid prodcut-wrapper">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4 style="border-bottom: 1px solid #ddd;margin-bottom: 30px;">Chardham Yatra 2020 </h4>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-6">
      <div class="product-details">
        <h5><label>Package ID</label>
        <span>|</span>Chardham Yatra 2020 </h5>
        <h5>
        <label>Valid Till</label>
        <span>|</span>30th Sep' 2020</h5><h5><label>Duration</label>
        <span>|</span> 11 Nights 12 Days</h5>
        <h5><label>Cost</label>
        <span>|</span> 29,999<i> INR Per Persson (Min 4 Pax)</i></h5></div>
      <div class="product-info">
          <mat-tab-group>
              <mat-tab label="Itinerary" style="text-transform: uppercase;">
                <div class="product-info-content">
                  <p><strong>Day 1: Delhi - Haridwar (260 kms / 8 hrs) <br>
                  </strong>Pick up from Delhi Airport/ Railway station and drive to Haridwar. On arrival in the evening, check in to the hotel and relax. If time permits, experience the Ganga Aarti at Har ki Pauri Ghat(6pm to 7pm). Have dinner &amp; stay overnight in the Hotel. <strong><br>
                  </strong></p>
                  <p><strong>Day 2: Haridwar - Barkot (1352m) (210 Kms / 8 Hrs) </strong><br>
                  </p>
                  <p>After breakfast, check out from the hotel and drive to Barkot. Check into the hotel on arrival.  Have dinner &amp; stay overnight at Barkot. </p>
                  <p><strong>Day 3: Barkot – Yamunotri (3291m) – Barkot (36 Kms drive and 6 Kms trek one side) </strong><br>
                  </p>
                  <p>Early morning after breakfast (packed breakfast), drive to Jankichatti / Phoolchatti &amp; start the trek from here to Yamunotri (6kms) (Either by walk or by horse or by Doli at own cost). After taking bath in Jamunabai Kund's warm water and having &quot;Darshan&quot; of &quot;Yamunaji&quot; return to Jankichatti by trek. Later drive towards Barkot, Overnight stay at Barkot. </p>
                  <p><strong>Yamunotri Temple:</strong> Maharani Gularia of Jaipur built the temple in the 19th Century. It was destroyed twice in the present century and rebuilt again. At Yamunotri, One can cook rice by packing it in a cloth and dipping it in the hot water of the Taptkund. Pilgrims take this cooked rice home as &quot;Prasad&quot;. Here near the temple &quot;Pooja&quot; can be offered to Divya Shila.</p>
                  <p><strong>Surya Kund:</strong> There are a number of thermal springs near the temple, which flows into numerous pools. The most important of these is Surya Kund.                </p>
                  <p><strong>Divya Shila: </strong>A rock pillar, worshipped before entering the Yamunotri Temple. </p>
                  <p><strong>Day 4: Barkot - Uttarkashi (1352m) (100 Kms / 4 Hrs) <br>
                  </strong>Morning after breakfast, drive to Uttarkashi. Check into the hotel. Visit Kashi Vishwanath Temple in Uttarkashi. Overnight stay at Uttarkashi. </p>
                  <p>Uttarkashi is home to a number of Ashrams and Temples. The name of the town reflects its similarity to and location (as north of) the city of Kashi (Varanasi). Similar to Varanasi, town of Uttarkashi is also situated on the banks of River Ganga.</p>
                  <p><strong>Vishwanath temple</strong> - Vishwanath temple is one of the oldest Shiva temples in Northern India. Re-constructed in 1857 by Maharani Khaneti Devi of Tehri State in the ancient architectural style. It is situated at the heart of the town. A massive iron trident, symbolic of divine mother’s, is erected and worshiped from time immemorial at the temple complex. Ganeshji, SakshiGopal, Markandeya Rishi’s small shrines are also part of the temple complex. Akhand Jyoti as well as Akhand Abhishek, special Aarti in the morning and evenings are offered. As per Skunda Puran, Uttarkashi is known as ‘Saumya Varanasi’, the abode of Lord Shiva in Kaliyug and counted as one of the twelve Jyotirlingas. </p>
                  <p><strong>Shakti temple</strong> - Right in front of the Vishwanath temple is Shakti temple. It has a big ‘Trishul’ of about 6 meters in height and a circumference of 90 cms at bottom. Though there are different views about the making of this, the upper part of it seems to be made up of iron and the lower one is of copper. As per the epics this Shakti was thrown on the devils by the Goddess Durga (Shakti), hence it gets its name. Since then this Shakti is erected over here. </p>
                  <p><strong>Day 5: Uttarkashi - Gangotri (3048m) – Uttarkashi (100 Kms drive and 4 Kms trek one side) </strong><br>
                </p>
                  <p>Early morning (packed breakfast) drive to Gangotri, enroute at Gangnani take a holy dip in Garam Kund, further drive to Gangotri via beautiful Harsil Valley. Harsil is famous for its nature beauty and for the majestic views of the Deodar trees and mountains. On arrival at Shree Gangotri, take a holy dip in the sacred river Ganges which is also called Bhagirathi at its origin. Perform Pooja and Darshan, after that relax for some time in the lovely surroundings. Later drive back to Uttarkashi. Stay overnight at Uttarkashi. </p>
                  <p><strong>Gangotri Temple: </strong>The temple was constructed by the Gorkha General Amar Singh Thapa in the 18th Century, is situated on the right bank of Bhagirathi.                </p>
                  <p><strong>Day 6: Uttarkashi – Guptkashi (1319m) (220 Kms / 9 Hrs Drive) </strong><br>
                </p>
                  <p>Morning after breakfast, drive to Guptkashi via Moolgarh &amp; Lambgoan. Enroute you can see the beautiful river Mandakini at Tilwara. The Mandakini river comes from Kedarnath, drive alongside the river to reach Guptkashi, visit Ardh Narishwar Temple in Guptkashi. Check into the hotel arrival in Guptkashi. Stay overnight at Guptkashi. </p>
                  <p><strong>Gupta kashi</strong>:-The name Guptkashi means &quot;Hidden Benares”. Mythology describes how when the Pandava brothers were searching for a glimpse of Shiva, Shiv ji first concealed himself at Guptkashi, but later fled from them further up the valley to Kedarnath, where the Pandavas finally got their wish fulfilled. There are more tangible connections as well-the Kedarnath pandits (priests) live in Guptkashi during the winter months, and after the Kedarnath temple closes for the winter, the image of Kedarnath passes through Guptkashi on its way to Ukhimath (across the valley), where it stays for the winter.</p>
                  <p><strong>Guptkashi Weather </strong>- pleasant in summer, the temperature ranges from 25-30 degree Celsius. Very cold during the winters. </p>
                  <p><strong>Day 7: Guptkashi – Kedarnath (30 Kms drive &amp; 19 Kms Trek) </strong><br>
                    </p>
                  <p>Morning after breakfast head towards Kedarnath. Take a pony if needed on direct payment. Enjoy Kedarnath Pooja and Darshan and check in to the hotel by evening. Have dinner and stay overnight in the hotel. </p>
                  <p><strong>By Helicopter:</strong> Morning our driver will transfer you to the Helipad. On return, our car will drop you at Hotel for rest.<em> (Not possible from July to September) </em></p>
                  <p><strong>By Trek:</strong> Morning our driver will drop you at Sonprayag then you have to take local jeep for Gourikund &amp; then your trek starts for Kedarnath ji. After darshan you follow same way back to Sonprayag. There is a big parking issue so driver will park at another place and if his contact no. is not reachable then you have to arrange other taxi or wait for your driver. </p>
                  <p><strong>Kedarnath</strong>: The Kedarnath shrine, one of the 12 Jyotirlingas of Lord Shiva, is a scenic spot situated, against the backdrop of the majestic Kedarnath range. Kedar is another name of Lord Shiva. According to legend, the Pandavas after having won over the Kaurava in the Kurukshetra war, felt guilty of having killed their own brothers and sought the blessings of Lord Shiva for redemption. He eluded them repeatedly and while fleeing took refuge at Kedarnath in the form of a bull. On being followed he dived into the ground, leaving his hump on the surface. The remaining portions of Lord Shiva appeared at four other places and are worshipped there as his manifestations. The arms appeared at Tungnath, the face at Rudranath, the belly at Madhmaheshwar and his locks (hair) with head at Kalpeshwar. Kedarnath and the four above-mentioned shrines are treated as PanchKedar. <br>
                  </p>
                  <p><strong>Day 8: Kedarnath - Guptkashi (30 Kms Drive and 19 Kms Trek) </strong><br>
                    </p>
                  <p>After breakfast, head back to Guptkashi. Have dinner and stay overnight at the hotel. <br>
                    </p>
                  <p><strong>Day 9: Guptkashi - Badrinath (3133m) (240 Kms / 8 Hrs Drive) </strong><br>
                    </p>
                  <p>Morning after breakfast, drive to Badrinath. Check into the hotel on arrival.  Relax in the evening. Have dinner and stay overnight at the hotel in Badrinath. </p>
                  <p><strong>Day 10:  Badrinath Sightseeing - Joshimath (60 Kms / 2 Hrs Drive) </strong></p>
                  <p>After breakfast, check out from the hotel and visit Brahama kapal which is significant for Pinddan Shraddh of our Ancestors (Pitrus). There are other interesting sightseeing spot like Mana, Vyas Gufa, Maatamoorti, Charanpaduka, Bhimkund and the &quot;Mukh&quot; of the Saraswati River just within the three kms of Badrinathjee. Later drive to Joshimath. On arrival, check into the hotel and stay overnight. </p>
                  <p>Badrinath is one of the 'Ancient Four Dhams' is one of the most celebrated pilgrimage spots of the country and is situated at an elevation of 3,133 meters, guarded on either side by the two mountain ranges known as Nar &amp; Narayan with the towering Neelkanth Peak providing a splendid backdrop. This revered spot was once carpeted with wild berries. Thus the place got the name &quot;Badri van&quot;, meaning &quot;forest of berries&quot;. </p>
                  <p><strong>Tapt Kund</strong>: Natural thermal springs on the bank of the river Alaknanda, where it is customary to bath before entering the Badrinath temple. </p>
                  <p><strong>Mana Village: </strong>Inhabited by an Indo-Mongolian tribe, it is the last Indian village before Tibet.</p>
                  <p><strong>Vasundhara:</strong> As the name suggests, Vasundhara is a magnificent water fall. This place is 5 kms from Badrinath out of which 2 kms is motorable upto Mana village.</p>
                  <p><strong>Bhim Pul: </strong>On the other side of Mana village, a massive rock forms a natural bridge, lies over the roaring Saraswati river. It presents a spectacular view of water thundering down through the narrow passage under the rock and is believed to have been placed there by Bhim, the second eldest among the five Pandava brothers. </p>
                  <p><strong>Vyas Gufa </strong>(cave): Near Mana Village, this is a rock-cave where Ved Vyas is believed to have composed the Mahabharata and the Puranic commentaries. </p>
                  <p><strong>Day 11: Joshimath - Rishikesh – Haridwar (280 Kms / 8.5 Hrs) </strong></p>
                  <p>Morning drive to Haridwar. En-route see the confluence of Bhagirathi and Alaknada River which is called Devprayag, and then Laxman Jula in Rishikesh. Then continue drive towards Haridwar, on arrival check in to hotel in the evening, if time permits witness Ganga Aarti. Have dinner and stay overnight in the hotel. </p>
                  <p><strong>Day 12: Haridwar - Delhi (250 kms / 6 hrs) </strong></p>
                  <p>After Breakfast, check out from the hotel and drive to the Delhi Airport/ Railway Station for your onward Journey. </p>

                </div>
              </mat-tab>
              <mat-tab label="Inclusions">
                <div class="product-info-content">
                  <ul> <li>11 Nights Accommodations on double sharing basis</li>
                    <li>Daily Breakfasts and dinner</li>
                    <li>Delhi / Dehradun Airport pick up and drop</li>
                    <li>Sightseeing as per the itinerary in a private vehicle</li>
                    <li>All toll taxes, fuel, parking and driver charges</li>
                    <li>All hotel & transportation taxes</li>

                  </ul>
                </div>
              </mat-tab>
              <mat-tab label="Conditions">
                <div class="product-info-content">
                  <ul><li>Pony Ride or Helicopter to Kedarnath</li>
                    <li>Personal expenses and tips</li>
                    <li>Lunch on direct expenses</li>
                    <li>Porter, pony, horse, cable car, boat, train tickets, air tickets charges</li>
                    <li>Any extra cost arising due to unforeseen natural disaster or any reason</li>
                    <li>GST 5% </li></ul>
                </div>
              </mat-tab>
          </mat-tab-group>
      </div>
    </div>
    <div class="col-sm-6">
      <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/Chardham.jpg" class="product-img" alt="product-image">
    </div>
  </div>
</div>
</div>
<app-home-page-footer></app-home-page-footer>

