<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <div class="hotel-wrapper">
        <div class="add_new_hotel">
          <button class="btn btn-primary" (click) = "addNewHotel()">Add New Hotel</button>
        </div>
        <div class="hotel-records">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th>No.</th>
                <th>Hotel Name</th>
                <th>Hotel Star</th>
                <th>Hotel Address</th>
                <th>Hotel City</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hotel of hotels; index as i">
                <td>{{i+1}}</td>
                <td>{{hotel.addHotelName}}</td>
                <td>{{hotel.addHotelRating}}</td>
                <td>{{hotel.addHotelAddress}}</td>
                <td>{{hotel.addHotelCity}}</td>
                <td>NA</td>
              </tr>
              <!-- <tr>
                <td>2</td>
                <td>NA</td>
                <td>NA</td>
                <td>NA</td>
                <td>NA</td>
                <td>NA</td>
              </tr>
              <tr>
                <td>3</td>
                <td>NA</td>
                <td>NA</td>
                <td>NA</td>
                <td>NA</td>
                <td>NA</td>
              </tr>
              <tr>
                <td>4</td>
                <td>NA</td>
                <td>NA</td>
                <td>NA</td>
                <td>NA</td>
                <td>NA</td>
              </tr>
              <tr>
                <td>5</td>
                <td>NA</td>
                <td>NA</td>
                <td>NA</td>
                <td>NA</td>
                <td>NA</td>
              </tr>
              <tr>
                <td>6</td>
                <td>NA</td>
                <td>NA</td>
                <td>NA</td>
                <td>NA</td>
                <td>NA</td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>
