<div class="container-fluid prod-wrapper">
  <div class="col-sm-12">
    <div class="backToHomePage" style="margin-top: 30px;">
      <label (click)="backToHome()"><img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/arrow.jpg" class="product-img" alt="product-image">Back</label>
    </div>
  </div>
</div>

<div class="container-fluid prodcut-wrapper">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4 style="border-bottom: 1px solid #ddd;margin-bottom: 30px;">Kailash Mansarovar Overland Yatra</h4>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-6">
      <div class="product-details">
        <h5><label>Package ID</label>
        <span>|</span>Kailash Mansarovar Overland Yatra </h5>
        <h5>
        <label>Travel Month</label>
        <span>|</span>May, June, July, Aug &amp; Sep' 2020</h5><h5><label>Duration</label>
        <span>|</span>12 Nights 13 Days</h5>
        <h5><label>Cost</label>
        <span>|</span>139999 <i> INR Per Persson</i></h5></div>
      <div class="product-info">
          <mat-tab-group>
              <mat-tab label="Itinerary" style="text-transform: uppercase;">
                <div class="product-info-content">
                  <p><strong>Day 1: Arrive Kathmandu (1300m)  <br>
                  </strong>Upon arrival at the Kathmandu international airport, our representative will pick you up and transfer you to your hotel. Tour briefing will be given in the evening. Have dinner &amp; stay overnight in the hotel. <strong><br>
                  </strong></p>
                  <p><strong>Day 2: Kathmandu Sightseeing </strong><br>
                  </p>
                  <p>After Breakfast, go on a sightseeing tour of Kathmandu which covers places like Pashupatinath Temple, Boudhanath Stupa &amp; Jal Narayan Vishnu temple. Preparation &amp; packing for the Kailash Mansarovar Yatra in the evening. Stay overnight in the hotel. </p>
                  <p><strong>Day 3: Kathmandu - Syabrubesi (1950m) (155Kms / 7 Hours approx.) </strong><br>
                  </p>
                  <p>After breakfast we will drive by a private non AC coach to Syabrubesi. Stay overnight in a guest house / lodge.                </p>
                  <p><strong>Day 4: Syabrubesi – Rasuwagadhi (1800m) - Kyirong (2700m) (45 Kms /3 Hrs)<br>
              </strong>Drive for about 8-10 Kms / 45 min to Rasuwagadhi from Syabrubesi.  Immigration &amp; custom formalities will happen here in Nepal &amp; Tibet side at Rasuwagadhi. After immigration, continue to drive further to Kyirong for about 2 hrs / 35 Kms. Stay overnight in the hotel.                </p>
                  <p><strong>Day 5: Kyirong – Dongba / Saga (4250m) (268 Kms / 8 hours approx.) </strong><br>
            </p>
                  <p>After breakfast, drive to Dongba / Saga. En’route we will be driving over the Holy River Brahmputra. Stay overnight in the hotel. </p>
                  <p><strong>Day 6: Dongba / Saga - Mansarovar Lake (4500 m) (422Kms / 7 hours approx</strong><br>
                </p>
                  <p>Start early in the morning and drive to the Holy Mansarovar Lake crossing beautiful places. Upon arrival, do the Parikrama of Mansarovar Lake by vehicle. Overnight stay at a guest house close to the shore of the Holy Lake.  Today you get the first glimpse of the Holy Shrine Kailash. Stay overnight at a guest house / hotel. </p>
                  <p><em>According to legend, the lake was created by Lord Brahma himself for meditation—Manasa in Sanskrit refers to “Mind” whereas Sarovar means “Lake”. </em>                </p>
                  <p><strong>Day 7: Lake Mansarovar – Darchen (60 Kms / 1-2 hours approx.) </strong><br>
                    </p>
                  <p>Witness the divinity of Mansarovar Lake early in the morning, take a holy dip during noon and perform Puja (prayer/ritual) at the Mansarovar Lake. You will be provided with a private bathing tent there. After completing holy bath &amp; lunch there, we proceed further to Darchen. Stay overnight in the hotel. </p>
                  <p><strong>Day 8: First day of Parikrama of Mt. Kailash – Dirapuk (4800 m) </strong><br>
                    </p>
                  <p>After a short drive from Darchen you will arrive at Yamdwar and then trek to Dirapuk (10 Kms first day Parikrama). You get blessed with darshan of North Face of Mt. Kailash during the first day of Parikrama which is considered to be the most auspicious. Those who do not wish to do the Parikrama will travel from Yamdwar to Darchen for approx. 30 minutes and stay there in a guest house for 2 nights. You can see &amp; pray looking at Mt. Kailash from Darchen. </p>
                  <p><strong><em>Note:</em></strong><em> Parikrama is optional. There are few who would be doing Parikrama by walk, few by horse &amp; few old age people may not be doing Parikrama. Those who are not doing Parikrama will return from Yamdwar to the guest house at Darchen. We will arrange meals &amp; accommodation there. Holy Mt. Kailash is easily visible from there &amp; one can do puja from </em>there too. People staying at Darchen will join other group members in the 1st half once they complete their 3rd day of Parikrama. <br>
                  </p>
                  <p><strong>Day 9: Second Day Parikrama of Mt. Kailash – Zutulpuk (4790 m) </strong><br>
                    </p>
                  <p>Early morning start the trek from Dirapuk to Dolma La Pass (5650 m) and then Zuthulpuk (4790 m). Total trek length is 22 Kms on the second day of Parikrama. This is the most difficult part of the journey since you have to trek up to 18,600 ft height above sea level. From Dolma La Pass descend to Gauri Kund and further trek along the river to Zuthulpuk. Stay overnight in a guest house / lodge.  First 6-7 Kms (till Dolma La Pass at 5600m) of 2nd day has a very steep climb &amp; is the most difficult part of this Yatra. Yatris are advised to take comfortable time to cover it &amp; take rest wherever you feel any discomfort. After the first 6-7 Kms, remaining 16 Kms are comparatively plain / downwards &amp; comfortable. </p>
                  <p><strong>Important:</strong> On  the  day  2  of  Parikrama,  You  will  pass  through Shivasthal (Sacred  place  for Tibetans  &amp;  it  is  believed  that  whatever  you  offer  here,  you  get  it  back  in Heaven)  &amp; then through Gauri Kund. After crossing Dolma La Pass, it’s a long and pleasant trek along the river. You get to see the East face of Mt. Kailash from here. </p>
                  <p><strong>Day 10: Dongba </strong></p>
                  <p>Third day Parikrama is approx. 8 Kms &amp; takes around 2-3 hours to complete. Generally, we complete it by 9:00 - 10:00 am. After completing Parikrama we drive back to Darchen and merge with other members and then drive to Paryang /Dongba. Stay overnight in the hotel.                </p>
                  <p><strong>Day 11: Dongba – Kyirong – Syabrubesi (270 Kms / 7 hours approx.) </strong></p>
                  <p>After breakfast, get ready to drive back to Syabrubesi via Rasuwagadhi border, completing all the immigration formalities. Check into your hotel in Syabrubesi and stay overnight. </p>
                  <p><strong>Day 12: Syabrubesi – Kathmandu (190 Kms / 7-8 hours approx.) </strong></p>
                  <p>Drive back to Kathmandu and check into your hotel. Today, we will celebrate the success of this Yatra at the Banquet hall with all the other Yatris/Pilgrims. Have dinner and stay overnight in the hotel. </p>
                  <p><strong>Day 13: Kathmandu </strong></p>
                  <p>After breakfast, check out and get dropped at the Kathmandu Airport to board your return flight back home. </p>
                  <p><strong>Fixed Departure Dates for the Year 2020: </strong></p>
                  <table class="table table-bordered">
                    <tr>
                      <th width="51" scope="col">Sr. No.</th>
                      <th width="61" scope="col">Duration</th>
                      <th width="114" scope="col">Start Date</th>
                      <th width="123" scope="col">End Date</th>
                      <th width="132" scope="col">Full Moon Date</th>
                    </tr>
                    <tr>
                      <td>02001</td>
                      <td>12N / 13D</td>
                      <td>15th May 2020</td>
                      <td>27th May 2020</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>02002</td>
                      <td>12N / 13D</td>
                      <td>31st May 2020 </td>
                      <td>12th June 2020</td>
                      <td>Sat, 6th June 2020 </td>
                    </tr>
                    <tr>
                      <td>02003</td>
                      <td>12N / 13D</td>
                      <td>10th June 2020</td>
                      <td>22nd June 2020</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>02004</td>
                      <td>12N / 13D</td>
                      <td>30th June 2020 </td>
                      <td>12th July 2020</td>
                      <td>Sun, 5th July 2020 </td>
                    </tr>
                    <tr>
                      <td>02005</td>
                      <td>12N / 13D</td>
                      <td>16th July 2020 </td>
                      <td>28th July 2020</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>02006</td>
                      <td>12N / 13D</td>
                      <td>29th July 2020</td>
                      <td>10th Aug 2020</td>
                      <td>Mon, 3rd Aug 2020</td>
                    </tr>
                    <tr>
                      <td>02007</td>
                      <td>12N / 13D</td>
                      <td>7th Aug 2020 </td>
                      <td>19th Aug 2020</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>02008</td>
                      <td>12N / 13D</td>
                      <td>28th Aug 2020 </td>
                      <td>9th Sept 2020</td>
                      <td>Wed, 2nd Sept 2020</td>
                    </tr>
                    <tr>
                      <td>02009</td>
                      <td>12N / 13D</td>
                      <td>6th Sept 2020 </td>
                      <td>18th Sept 2020</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr>
                      <td>02010</td>
                      <td>12N / 13D</td>
                      <td>26th Sept 2020 </td>
                      <td>8th Oct 2020</td>
                      <td>Fri, 2nd Oct 2020</td>
                    </tr>
                  </table>
                  <p> <strong>Documents Required: </strong></p>
                  <ul>
                    <li>Scan copy of the first and last page of your valid Passport</li>
                    <li>Original Passport to be given to us 25 days prior to your journey for VISA processing and you will receive it back in Kathmandu upon arrival. </li>
                    <li>Medical certificate from your doctor stating that you are fit to do this tour</li>
                    <li>2 Passport sized photographs</li>
                    <li>Fill and submit the registration form given by us with one attached passport sized photo </li>
                  </ul>

                </div>
              </mat-tab>
              <mat-tab label="Inclusions">
                <div class="product-info-content">
                  <ul> <li>VISA</li>
                    <li>All entry, travel & road permit fees in Tibet</li>
                    <li>Vegetarian Indian Meals (Breakfast, Lunch & Dinner</li>
                    <li>Kathmandu - Border - Kathmandu transfer by Nepali tourist coach Non AC</li>
                    <li>Boarder - Kailash - Border transfer by Deluxe bus as per itinerary</li>
                    <li>Accommodations in Hotels / Guest Houses / Lodges</li>
                    <li>Transportation for the complete tour as mentioned in the itinerary</li>
                    <li>1 Nepali Tour Guide / Manager, 1 Chinese / Tibetan Tour Guide, Team of Sherpa to carry your luggage & Cooks to prepare food.</li>
                    <li>Oxygen cylinder, oxy meter for emergency use</li>
                    <li>Gore-Tex Jacket (Returnable after Completion of the Yatra)</li>

                  </ul>
                </div>
              </mat-tab>
              <mat-tab label="Conditions">
                <div class="product-info-content">
                  <ul><li>Any kind of personal expenses</li>
                    <li>Any flight or train fare</li>
                    <li>Pony / Porter expenses during Mt.Kailash Parikrama</li>
                    <li>Any kind of insurance<li>Any kind of Medical expenses</li>
                    <li>Any kind of donation or tip to Guide / Sherpa / Drivers /Cooks / Porter / Priest / or any crew member</li>
                    <li>Extra day’s accommodation in Kathmandu / Nepalganj / Simikot / Hilsa /Purang or any other places due to bad weather / flight cancellation or any other reason.</li>
                    <li>VISA splitting charges & transportation charges, if leaving early from Tibet.</li>
                    <li>Any evacuation / rescue / additional charges / losses due to natural calamities / unforeseen circumstances.</li>
                    <li>Any kind of extra baggage charges in flight / helicopter during Yat</li></ul>
                </div>
              </mat-tab>
          </mat-tab-group>
      </div>
    </div>
    <div class="col-sm-6">
      <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/Mansarovar.jpg" class="product-img" alt="product-image">
    </div>
  </div>
</div>
</div>
<app-home-page-footer></app-home-page-footer>

