<!--
<app-home-page-header></app-home-page-header>
-->
<div class="container-fluid parallax-wrapper">
    <section class="module parallax parallax-3">
        <div class="container">

        </div>
    </section>

    <section class="module content-wrapper">
        <div class="container title-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <h3>Deals and Offers</h3>
            </div>
        </div>
        </div>
        <div class="container block-wrapper">
        <div class="row">
            <div class="col-sm-4">
                <div class="col-item">
                    <div class="photo">
                        <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/Manali.jpg" alt="Company Name">
                    </div>
                    <div class="info">
                      <h4>Jewels of Himachal Tour Shimla &amp; Manali</h4>
                      <p> | Ex - Delhi |5 Nights / 6 Days</p>
                    </div>
                    <div class="readmore">
                      <label for="readmore" (click)="prodOne()">Read more</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-item">
                    <div class="photo">
                        <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/CHERRY_BLOSSOM_JAPAN.jpg" alt="Company Name">
                    </div>
                    <div class="info">
                      <h4>CHERRY BLOSSOM JAPAN</h4>
                      <p>Travel Date: 07-12 April, 2020</p>
                    </div>
                    <div class="readmore">
                      <label for="readmore" (click)="prodTwo()">Read more</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-item">
                    <div class="photo">
                        <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/Singapore.jpg" alt="Company Name">
                    </div>
                    <div class="info">
                        <h4>Singapore with Dream Cruise</h4>
                        <p>Travel Date : 1st May</p>
                    </div>
                    <div class="readmore">
                      <label for="readmore" (click)="prodThree()">Read more</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-item">
                    <div class="photo">
                        <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/Eastern_Europe.jpg" alt="Company Name">
                    </div>
                    <div class="info">
                        <h4>Eastern Europe</h4>
                        <p>Prague | Bratislava | Budapest | Vienna </p>
                    </div>
                    <div class="readmore">
                      <label for="readmore" (click)="prodFour()">Read more</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-item">
                    <div class="photo">
                        <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/bali.jpg" alt="Company Name">
                    </div>
                    <div class="info">
                        <h4>Kuala Lumpur with Bali</h4>
                        <p>Special Package</p>
                    </div>
                    <div class="readmore">
                      <label for="readmore" (click)="prodFive()">Read more</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-item">
                    <div class="photo">
                        <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/Bali_Departure.jpg" alt="Company Name">
                    </div>
                    <div class="info">
                        <h4>Bali Departure</h4>
                        <p>Special Package</p>
                    </div>
                    <div class="readmore">
                      <label for="readmore" (click)="prodSix()">Read more</label>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <app-home-page-footer></app-home-page-footer>
    </section>

    </div>
