<div class="container-fluid prodcut-wrapper">
  <div class="col-sm-12">
    <div class="backToHomePage" style="margin-top: 30px;">
      <label (click)="backToHome()"><img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/arrow.jpg" class="product-img" alt="product-image">Back</label>
    </div>
  </div>
</div>

<div class="container-fluid prodcut-wrapper">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4 style="border-bottom: 1px solid #ddd;margin-bottom: 30px;">SINGAPORE WITH DREAM CRUISE</h4>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-6">
      <div class="product-details">
        <h5><label>Package ID</label><span>|</span>SINGAPORE WITH DREAM CRUISE</h5>
         <h5><label>Travel Date</label><span>|</span>1st May 2020</h5>
         <h5><label>Duration</label><span>|</span> 9 Nights 10 Days</h5>
          <h5><label>Cost</label><span>|</span> 1,19,999.00 <i>INR</i></h5>
      </div>
      <div class="product-info">
          <mat-tab-group>
              <mat-tab label="Itinerary" style="text-transform: uppercase;">
                <div class="product-info-content">

                  <p><strong>Day 01: 01 May-20::</strong></p>
                  <p>Arrive Singapore airport – Breakfast at local restaurant – transfer to hotel – Check in at 02PM – Evening Garden By the Bay –<br>
                    Dinner at Indian restaurant.<br>
                  </p>
                  <p><strong>Day 02: 02 May-20:</strong></p>
                  <p>Breakfast at hotel – Half day Singapore City Tour – Half Day Sentosa Island Tour – Evening Return back to hotel – Dinner at<br>
                    Indian Restaurant<br>
                  </p>
                  <p><strong>Day 03: 03 May-20:</strong></p>
                  <p>Breakfast at hotel – transfer to cruise terminal and board Genting Dream Cruise – Cruise departs at 1700 hours.<br>
                  </p>
                  <p><strong>Day 04: 04 May-20:</strong></p>
                  <p>Cruise arrives Port Klang (Malaysia) ETA 1000 hrs ETD 2000 hrs<br>
                  </p>
                  <p><strong>Day 05: 05 May-20:</strong></p>
                  <p>Cruise arrives Phuket (Thailand) ETA 1400 hrs ETD 2000 hrs.</p>
                  <p><strong>Day 06: 06 May-20:</strong></p>
                  <p>Cruise arrives Langkawi (Malaysia) ETA 0800 hrs ETD 1800 hrs</p>
                  <p><strong>Day 07: 07 May-20:</strong></p>
                  <p>Cruise arrives Penang (Malaysia) ETA 0700 hrs ETD 1700 hrs</p>
                  <p><strong>Day 08: 08 May-20:</strong></p>
                  <p>Cruise arrives Singapore ETA 1400 hrs. Transfer to hotel – Night Safari – Dinner at Indian Restaurant.</p>
                  <p><strong>Day 09: 09 May-20:</strong></p>
                  <p>Breakfast at hotel – Full Day Universal Tour – Evening Return back to hotel – Dinner at Indian Restaurant</p>
                  <p><strong>Day 10: 10 May-20:</strong></p>
                  <p>Breakfast at hotel – Day Free for shopping – Check out – Evening transfer to airport to board flight back to Hyderabad.</p>
                </div>
              </mat-tab>
              <mat-tab label="Inclusions">
                <div class="product-info-content">
                  <ul>
                    <li>International flight tickets in economy class by Singapore Airlines (Ex-Hyderabad).</li>
                    <li>05 nights Genting Dream Cruise with entry to Bollywood Night and Foam Party. Stay in Balcony Cabin.</li>
                    <li>04 nights stay in Hotel Farrer Park (4*) with buffet breakfast.</li>
                    <li>01 Breakfast at Indian Restaurant on the day of arrival.</li>
                    <li>04 lunch meal coupon. 4 dinners in Indian restaurant (in Singapore).</li>
                    <li>Singapore Night Safari</li>
                    <li>Half Day City Tour of Singapore.</li>
                    <li>Garden By the Bay with Marina Sands Park.</li>
                    <li>Half day Sentosa Island Tour (05 attractions).</li>
                    <li>Universal Studio Tour (No Rock climbing).</li>
                    <li>Singapore and Thai VISA charges.</li>
                    <li>All sightseeing and transfers for entire group using 01 vehicle.</li>
                 </ul>
                </div>
              </mat-tab>
              <mat-tab label="Conditions">
                <div class="product-info-content">
                  <ul><li>Shore excursions on cruise.</li>
                    <li>Cruise gratuity charges (to be paid directly on board).</li>
                    <li>Any meals or beverages other than mentioned in inclusions above.</li>
                    <li>Any activity or sightseeing which is not mentioned in itinerary.</li></ul>
                </div>
              </mat-tab>
          </mat-tab-group>
      </div>
    </div>
    <div class="col-sm-6">
      <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/Singapore.jpg" class="product-img" alt="product-image">
    </div>
  </div>
</div>
</div>
<br />
<br />
<app-home-page-footer></app-home-page-footer>

