<div class="container-fluid prodcut-wrapper">
  <div class="col-sm-12">
    <div class="backToHomePage" style="margin-top: 30px;">
      <label (click)="backToHome()"><img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/arrow.jpg" class="product-img" alt="arrow">Back</label>
    </div>
  </div>
</div>

<div class="container block-wrapper">
  <div class="row">
      <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/cruise1.jpg" alt="Company Name">
            </div>
            <div class="info">
              <h4>Genting Dream Cruise</h4>
              <p>Ex- Singapore | 3 N &amp;2 N</p>
            </div>
            <div class="readmore">
              <label for="readmore" (click)="cruise1()">Read more</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
      <div class="col-item">
          <div class="photo">
              <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/cruise2.jpg" alt="Company Name">
          </div>
          <div class="info">
            <h4>Genting Dream Cruise</h4>
            <p>Ex-Singapore | 5 N &amp; 4N</p>
          </div>
          <div class="readmore">
            <label for="readmore" (click)="cruise2()">Read more</label>
          </div>
      </div>
      </div>
      <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/cruise3.jpg" alt="Company Name">
            </div>
            <div class="info">
              <h4>Genting Dream Cruise</h4>
              <p>Ex-Singapore | 4 N, 3 N &amp; 2 N</p>
            </div>
            <div class="readmore">
              <label for="readmore" (click)="cruise3()">Read more</label>
            </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/cruise4.jpg" alt="Company Name">
            </div>
            <div class="info">
              <h4>Genting Dream Cruise</h4>
              <p>Ex-Singapore | 5 N</p>
            </div>
            <div class="readmore">
              <label for="readmore" (click)="cruise4()">Read more</label>
            </div>
        </div>
      </div>
  </div>
</div>
<app-home-page-footer></app-home-page-footer>
