<div class="container-fluid prod-wrapper">
  <div class="col-sm-12">
    <div class="backToHomePage" style="margin-top: 30px;">
      <label (click)="backToHome()"><img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/arrow.jpg" class="product-img" alt="product-image">Back</label>
    </div>
  </div>
</div>

<div class="container-fluid prodcut-wrapper">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4 style="border-bottom: 1px solid #ddd;margin-bottom: 30px;">PARIS - SWISS</h4>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-6">
      <div class="product-details">
        <h5><label>Package ID</label>
        <span>|</span>PARIS - SWISS            </h5>
        <h5>
        <label>Travel Date</label>
        <span>|</span>07th &amp; 24th May 2020</h5>
        <h5><label>Duration</label>
        <span>|</span> 8 Nights 09 Days</h5>
        <h5><label>Cost</label>
        <span>|</span> 1435<i> EUR</i></h5></div>
      <div class="product-info">
          <mat-tab-group>
              <mat-tab label="Itinerary" style="text-transform: uppercase;">
                <div class="product-info-content">
                  <p><strong>DAY 1 :: PARIS<br>
                    Arrive into Paris – the City of Romance, Lights and Glamour. Enjoy a romantic cruise on the River Seine.</strong></p>
                    <p>Welcome! Today we board our flight to one of the most beautiful &amp; fashionable city - Paris. Get greeted by your Friendly
    Travel Professional on arrival, who will later escort you to your hotel and assist with your check in. Next we take a
    romantic cruise down the river Seine, one of the world’s most scenic cruise, flanked by exquisite monuments like Notre
    Dame, Eiffel Tower, Louvre, Orsay Museum and many more. Gliding under one bridge to one another with a view of the
    finest monuments in the heart of bustling Paris. (On certain tours you may do the river Seine Cruise on a different day.)
    Overnight in Paris.
    Meal :: Dinner<strong><br>
                    </strong></p>
                    <p><strong>DAY 2 :: PARIS<br>
                      Guided city tour of Paris. Visit to Eiffel tower 3rd (Top) Level. Take a funicular ride at Montmartre to see the</strong><br>
                    </p>
                    <p>Sacre-Coeur Basillica, the second most visited monument in Paris. Today proceed for a guided city tour of Paris. Marvel at the finest Parisian tourist attractions, Place Vendôme, Place de l’Opéra Garnier, Musée d’Orsay, Place de la Concorde, Champs Ely sees, one of the most recognized fashionable avenues in the world, Arc de Triomphe, Alexander Bridge, Les Invalides and several others. Later we visit the iconic Eiffel Tower – 3rd Level, and get a stunning view of the city from the top. With its famous tapering cast iron tip, the Eiffel Tower is not just the symbol of Paris but of all of France. Later in the day, visit Montmartre known for its artist’s history. Take a Funicular to the top and see the white domed Basilica of Sacre-Coeur, a popular landmark and the second most visited Monument of Paris. Overnight in Paris. Meal :: Breakfast/Lunch/Dinner</p>
                    <p><strong>DAY 3 :: PARIS<br>
                      Enjoy your fun filled day at Euro Disney (1 day 01 Park - Choice of Disney Park or Disney Studios).</strong><br>
                    </p>
                    <p>This day experience a day full of excitement at this popular amusement park. The destination to relax and enjoy different kind of thrill rides and studio movies with your loved ones. You may choose between Disney Park, where fairy tales take flight across five incredible lands filled with classic attractions, shows and street parades with Disney Characters OR you may visit the Disney Studios and be astounded by the outstanding stunt shows, watch a film being made and see real-life sets used for creating blockbuster movies. Overnight in Paris. Meal :: Breakfast/Lunch/Dinner</p>
                    <p><strong>DAY 4 :; GENEVA<br>
                      Paris to Geneva<br>
                    </strong>This day after Breakfast checkout from paris and proceed to Geneva - Arrive and proceed for Orientation tour of Geneva - Witness the U.N. Building, The Broken Chair, Jet d’ Eau &amp;amp; The Floral clock. Continue your journey down to Interlaken. Arrive into Interlaken and proceed for Dinner. After dinner check in at the hotel. Overnight at the hotel. Meal :: Breakfast/Lunch/Dinner</p>
                    <p><strong>DAY 5 :: ENGELBERG<br>
                      Geneva to Engelberg – Amazing Scenic route – Orientation tour of Engelburg</strong><br>
                    </p>
                    <p>After Breakfast checkout and proceed to Engelberg, On the way enjoy the beauty of the mountain and scenic route. Proceed for orientation our of Engelberg Check out Engelberg&amp;#39;s stunning Baroque monastery. Built by Benedictine monks in 1120, there are still over 30 monks living and working in the monastery which dominates the town. Spend the time strolling through the village. Hotel checkin Overnight stay  Meal :: Breakfast/Lunch/Dinner</p>
                    <p><strong>DAY 6 :: ENGELBERG<br>
                      Highlight of the tour, A magical alpine excursion to the top of Europe – the amazing Jungfraujoch and scenicInterlaken.</strong><br>
                    </p>
                    <p>Proceed to visit Jungfraujoch – The Top of Europe, for a memorable magical alpine excursion, a high–point of your tour. Board a cogwheel train to reach the highest railway station in Europe at 11,333 feet – a world of eternal ice and snow. Visit the Ice Palace where artistes create their work of art in ice. Visit the Sphinx observatory deck to experience a breath-taking panoramic view of the longest glacier in the Alps - Aletsch Glacier. Later we drive to Interlaken, a unique and fascinating scenic city situated between two lakes, Thun and Brienz for an orientation tour. Then back to hotel. Overnight in Switzerland. Meal ::Breakfast/Lunch/Dinner</p>
                    <p><strong>DAY 7 :: ENGELBERG<br>
                      Visit Mt. Titlis – enjoy Cable car rides including the world’s first rotating cable car, the Rotair – to the top of Mt.</strong><br>
                      </p>
                    <p>Titlis at 3,020 metres.Cruise on Lake of Lucerne. Today enjoy amazing scenery, a once in a lifetime experience with an exhilarating tip to the top of Mt Titlis at 3020 metres on various cable cars including Rotair, the world’s first revolving cable car. Get a breath taking unrestricted 360 degrees stunning view of the dazzling snow caped peak, deep crevasses and pristine white snow fields, dotted with massive ice boulders from every angle. Do not forget to visit the “Cliff Walk” the highest suspension bridge in Europe along the cliff of Mt.Titlis. Later proceed on an orientation tour of Lucerne one of the most beautiful cities in Switzerland. Visit the Lion Monument, Kapell Brucke with some free time to shop for famous Swiss watches, knives and chocolates. Enjoy a scenic cruise on the lake of Lucerne. Later return to hotel. Overnight in Switzerland. Meal  Breakfast/Lunch/Dinner<br>
                      </p>
                    <p><strong>DAY 8 :: ZURICH<br>
                      Engelbuerg to Zurich – Visit Rhine fall – Orientation tour of Zurich</strong><br>
                      </p>
                    <p>Today we proceed to proceed towards Zurich Rhine Falls. Rhine Falls - Mini Niagara falls of Europe. This is a record - there is no other waterfall in Europe bigger than the Rheinfall. This is experienced in a most impressive way on a boat trip through the Rheinfall . Later proceed to Zurich. Evening proceed for an Orientation tour of Zurich Meal :: Breakfast/Lunch/Dinner<br>
                      </p>
                    <p><strong>DAY 9 :: DEPARTURE<br>
                      Fly back home</strong><br>
                      </p>
                    <p>Your memorable Holiday ends, today it’s time to fly back home. Say goodbye to the wonderful new friends you have made on the tour. Check out and depart for the Airport with pleasant memories</p>
                </div>
              </mat-tab>
              <mat-tab label="Inclusions">
                <div class="product-info-content">
                  <ul><li>03 Nights accommodation @ Paris</li>
                    <li>01 Night accommodation@ geneva</li>
                    <li>03 Nights accommodation@ Engelberg</li>
                    <li>01 Night accommodation @ Zurich</li>
                    <li>Private coach for 09 Days</li>
                    <li>Paris city tour</li>
                    <li>Scenic river cruise</li>
                    <li>Eiffel 3 rd level entry</li>
                    <li>Disney land 01 day 01 park pass</li>
                    <li>Orientation tour of Geneva, Engelberg, Interlaken, Lucerne &amp; Zurich</li>
                    <li>Mt. Junfraujch – Top of the Europe</li>
                    <li>Mt. Titlis excursion</li>
                    <li>Rhine Fall visit</li>
                    <li>08 Lunch &amp; 08 Dinner at Indian restaurant</li>
                    <li>All tours &amp; transfer on private coach (As per EU LCD instructions)</li>

                  </ul>
                </div>
              </mat-tab>
              <mat-tab label="Conditions">
                <div class="product-info-content">
                  <ul><li>Air fare</li>
                    <li>Air fare</li>
                    <li>Visa charges</li>
                    <li>Travel insurance</li>
                    <li>Optional tour cost</li>
                    <li>Personal and natural expenses</li>
                    <li>City taxes at hotel – if applicable</li>
                    <li>Meals other then mentioned in itinerary</li>
                    <li>Cancellation charges</li></ul>
                </div>
              </mat-tab>
          </mat-tab-group>
      </div>
    </div>
    <div class="col-sm-6">
      <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/PARIS.jpg" class="product-img" alt="product-image">
    </div>
  </div>
</div>
</div>
<app-home-page-footer></app-home-page-footer>

