<div class="container-fluid prodcut-wrapper">
  <div class="col-sm-12">
    <div class="backToHomePage" style="margin-top: 30px;">
      <label (click)="backToHome()"><img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/arrow.jpg" class="product-img" alt="product-image">Back</label>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="contact-us-wrapper">
        <div class="contact-details">
          <h5>Contact Us:</h5>
          <h5 class="sub-title">Corporate Office</h5>
          <p>S V Holiday Bazaar PVT Ltd,</p>
          <p>Nagarjuna Jubilant,</p>
          <p>No# 3-6-385 / 1 & 2, 3rd Floor</p>
          <p>Himayat Nagar Main Road</p>
          <p>Hyderabad - 500029</p>
        </div>
        <h3>GET IN TOUCH</h3>
        <form>
          <div class="col-sm-4">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name">
              </div>
          </div>
          <div class="col-sm-4">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Phone">
              </div>
          </div>
          <div class="col-sm-4">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
              </div>
          </div>
          <div class="col-sm-12">
              <div class="form-group">
                  <textarea class="form-control" rows="5" placeholder="Description"></textarea>
              </div>
          </div>
          <div style="text-align: center;">
              <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<br />
<div class="container-fluid">
  <div class="row">
      <div class="col-sm-12">
        <h5 style="padding: 0px 0 5px 0px;">Branche's</h5>
        <div class="our-partners">
          <div class="col-sm-2">
            <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/logo.png" class="footer-logo" alt="logo" style="margin-bottom: 15px;">
            <p><strong>Mumbai</strong><br />
              Office No. 324, Sakina Manzil,<br />
              Ground floor, Near Hinduja College,<br />
              RM Roy Marg, Charni Road(East),<br />
              Mumbai - 400 004.
            </p>
          </div>
          <div class="col-sm-2">
           <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/logo.png" class="footer-logo" alt="logo" style="margin-bottom: 15px;">
           <p><strong>Mumbai</strong><br />
              46, Ground Floor,<br /> AC Market, Tardeo,<br />Mumbai - 400 034,
            </p>
          </div>
          <div class="col-sm-2">
            <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/uniholidays.png" class="footer-logo" alt="logo" style="margin-bottom: 15px;">
             <p><strong>Hyderabad </strong><br />
              Behind Radisson Blu, Gachibowli<br /> Hyderabad- 500032.
              </p>
          </div>
          <div class="col-sm-2">
              <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/shahtours.png" class="footer-logo" alt="logo" style="margin-bottom: 15px;">
              <p><strong>Secunderabad</strong><br />
                Shah’s Tours & Travels<br />
                Shop No. 27, 2nd Floor, <br /> HM Ishaqe Estate,<br />
                2-1-150 to 158, MG Road, <br />
                Secunderabad - 500 003.
              </p>
          </div>
          <div class="col-sm-2">
              <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/rekha.png" class="footer-logo" alt="logo" style="margin-bottom: 15px;">
              <p><strong>Secunderabad</strong><br />
                Shankeshwar Trade Center,<br />
                Shop No. 305, 3rd Floor,Pot Market,<br />
                Secunderabad - 500 003.

              </p>
          </div>
          <div class="col-sm-2">
              <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/happyholidays.png" class="footer-logo" alt="logo" style="margin-bottom: 15px;">
              <p><strong>Rajahmundry</strong><br />
                House No 86-14-15/1, <br />J N Road, <br />Opposite A K C Degree College Main Gate Rajahmundry,<br /> Rajahmundry - 533101.
              </p>
          </div>
          <div class="col-sm-2">
              <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/tripping.png" class="footer-logo" alt="logo" style="margin-bottom: 15px;">
              <p><strong>Secunderabad</strong><br />
                1-13-14,Lakshnikala Road, <br /> Lothkunta, Alwal <br />
                Secunderabad - 500 015.
                 </p>
          </div>
        </div>
      </div>
  </div>
</div>
<app-home-page-footer></app-home-page-footer>
