<div class="container-fluid prod-wrapper">
  <div class="col-sm-12">
    <div class="backToHomePage" style="margin-top: 30px;">
      <label (click)="backToHome()"><img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/arrow.jpg" class="product-img" alt="product-image">Back</label>
    </div>
  </div>
</div>

<div class="container-fluid prodcut-wrapper">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4 style="border-bottom: 1px solid #ddd;margin-bottom: 30px;">FRANKFURT TO ROME</h4>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-6">
      <div class="product-details">
        <h5><label>Package ID</label><span>|</span>FRANKFURT TO ROME   </h5>
        <h5><label>Duration</label><span>|</span>  14 nights - 15 days  </h5>
        <h5><label>Travel Date</label><span>|</span>15 May, 2020  </h5>
        <h5><label>Cost</label><span>|</span>   2,24,999.00  <i>INR</i></h5>
      </div>
      <div class="product-info">
          <mat-tab-group>
              <mat-tab label="Itinerary" style="text-transform: uppercase;">
                <div class="product-info-content">
                  <p><strong>Day 01: Arrive Frankfurt </strong></p>
               <p>Upon arrival at the Frankfurt Airport meet our representative who will assist you to board coach, later we proceed for the hotel check In (Standard Check in Time 1400 hours). Overnight stay at Hotel.<strong> (Dinner) </strong></p>
               <p><strong> Day 02: Visit Cologne Cathedral and Arrival Amsterdam  </strong></p>
               <p>Morning check out from Hotel and proceed to Amsterdam en-route visit Cologne Cathedral. Upon arrival in Amsterdam experience city tour. Today we also get to experience Amsterdam Canal cruise in luxurious cruise boat which takes us along beautiful canals and houses of the city, pass by the Zevenbogen Bruggengracht. Overnight stay at Amsterdam.<strong> (Breakfast, Lunch, Dinner) </strong></p>
               <p><strong>Day 03: Amsterdam City Tour  </strong></p>
               <p>Today Morning After Breakfast Do the city tour of Amsterdam where we drive past the Royal Palace, the National Monument, Skinny Bridge, the Albert Cuyp Market and the beautiful houses along the canal and a windmill on the river Amsterdam.  <strong>(Breakfast, Lunch, Dinner) </strong></p>
               <p><strong>Day 04: Brussels City Tour, Arrival in Paris, Seine River Cruise </strong></p>
               <p>After having breakfast at the hotel proceed to Brussels city tour which will include St.Michel,St. Gudula Cathedral, the world's first shopping mall-Galeries Saint Hubert, Grand Place and the famous statue of the cheeky boy-the Mannekin Pis (photo stop). Enjoy Seine River Cruise in the evening. Overnight stay at Paris.    <strong>(Breakfast, Lunch, Dinner) </strong></p>
               <p><strong>Day 05: Paris - Disneyland - Paris </strong></p>
               <p>After having breakfast at the hotel, proceed to experience the excitement at Disneyland. Disneyland Paris, commonly known as Euro Disney. There are also parades and shows. And when the kids have had their fun, the grown-ups can indulge themselves with the designer outlet shopping in nearby Marne la Vallée. Enjoy various rides and shows like it's a Small World and Space mountain. Meet your favorite cartoon characters like Mickey, Minnie, Pooh and Donald. Return back to hotel.<strong> (Breakfast, Meal Coupon, Dinner) </strong></p>
               <p><strong>Day 06: Guided City Tour of Paris, Eiffel Tower 3rd Level </strong></p>
               <p>Today after having breakfast, enjoy city tour of Paris which will includes the Louvre Glass Pyramid, Garnier's Opera, Place de la Concorde, Champs Elysees, Napoleanic Arc de Triomphe and Hotel des Invalides. Today visit wonder of the world ascend by an elevator to the 3rd level of the iconic Eiffel Tower.<strong> (Breakfast, Lunch, Dinner) </strong></p>
               <p><strong>Day 07: Arrive in Switzerland    </strong></p>
               <p>Today after having breakfast at the hotel, we proceed for scenic and long journey to city which is Heart of Europe i.e Switzerland. Overnight Stay in Switzerland   <strong>(Breakfast, Local lunch, Dinner) </strong></p>
               <p><strong>Day 08: Mount Titlis with Ice Flyer (subject to operation), Lucerne city tour, Lake Lucerne cruise  </strong></p>
               <p>Today we will be visiting Mt.Titlis to experience 'Titlis Rotair'-world's first revolving cable-car ride! Here we also experience the thrilling Ice Flyer ride and snow slides (subject to operation).Today we also get to enjoy Lucerne city tour which includes Lion Monument, Kappelbrucke Wooden Bridge. Here we also have leisure time for shopping and enjoying the local scenic beauty. Not to forget the relaxing Lake Lucerne cruise which is also part of our day in Switzerland today. Overnight at hotel..<strong> (Breakfast, Packed Lunch, Dinner) </strong></p>
               <p><strong>Day 09: Full Day Fun and Excitement in Jungfrau</strong></p>
               <p>Begin this day with a visit to Jungfraujoch – The Top of Europe, for a memorable encounter with snow and ice. You will be amazed at the scenic splendor that you see from aboard the cogwheel train, which takes you to a height of 3500 meters to reach Jungfraujoch – Europe's highest railway station! Experience the magic of the mountains and visit the Ice Palace on top of the tallest glacier in the Alps. Take an elevator to the Sphinx observatory deck. Later drive through Interlaken city    <strong>(Breakfast, Dinner) </strong></p>
               <p><strong>Day 10: Rhine Fall, Black Forest Drive, Lake Tittissee. Innsbruck City tour, Swarovski Crystal Worlds </strong></p>
               <p>Today after having breakfast at the hotel activities include proceed to Schaffausen enjoy Rhine Falls with Boat Ride. Later drive through Black Forest, Black Forest is a wooden Mountain range in south western Germany. Visit to Lake Titisee famous for shopping Cuckoo Clocks. Proceed to Innsbruch and visit internationally renowned Swarovski Crystal Worlds where we get to see the world's biggest crystal. Later proceed for an orientation tour of the city which includes Golden Roof or 'Goldenes Dachl'the Imperial Church and the 'Hofburg' or Imperial Palace.<strong> (Breakfast, Lunch, Dinner) </strong></p>
               <p><strong> Day 11: Arrival in Venice, Guided Venice City Tour  </strong></p>
               <p>Today after having breakfast at the hotel head Venice for city tour via canal cruise Tronchet to Pier past incredible miniature canals to the Piazza San Marco. Today also includes a tour with a brief visit to a Murano Glass Showroom for a demonstration in glass blowing. Also enjoy a romantic optional Gondola ride. Overnight stay in Padova/Venice<strong>.  (Breakfast, Lunch, Dinner) </strong></p>
               <p><strong>Day 12: Birds Eye View from Pizzale Michaelangelo Point, Photo stop at Leaning Tower </strong></p>
               <p>Today after breakfast proceed towards Florence and have photo stops at Piazzale Michelangelo Point and Statue of David. Later proceed for photo stops at the other famous sites located on the same Field of Miracles. Witness the enchanting city of Pisa to witness photo stop at the wonder of the world-the Leaning Tower of Pisa. Overnight stay in Pisa.  <strong>(Breakfast, Lunch, Dinner) </strong></p>
               <p><strong>Day 13: Guided Rome city tour    </strong></p>
               <p>After having breakfast at the hotel proceed to Rome and enjoy city tour which includes at Arch of Constantine, Circus Maximus, the legendary Trevi Fountain and photo stop at the Colosseum. Later some time for shopping.   <strong>(Breakfast, Lunch, Dinner) </strong></p>
               <p><strong>Day 14: Vatican City tour</strong></p>
               <p>After having breakfast proceed to Vatican City-the smallest nation in the world! This includes Vatican Museum, one of the largest museumcomplexes in the world, the sistine Chapel and St. Peter's Square with St. Peter's Basilica - one of the largest churches in the world.<strong>(Breakfast, Lunch, Dinner)</strong></p>
               <p><strong>Day 15: Rome Departure</strong> </p>
               <p>After having Breakfast at the hotel, proceed to airport for flight back home.<strong>(Breakfast) </strong></p>

                </div>
              </mat-tab>
              <mat-tab label="Inclusions">
                <div class="product-info-content">
                  <ul> <li>Return Economy Class Airfare with Airport Taxes </li>
                    <li>01 Night Accommodation Hotel NH Frankfurt or similar </li>
                    <li>02 Night Accommodation NH Zotermeer or similar in Amsterdam </li>
                    <li>03 Night Accommodation in Park Inn By Radisson or similar in Paris </li>
                    <li>03 Night Accommodation in Movenpick / Terrace or similar in Switzerland</li>
                    <li>01 Night Accommodation in Alpine Park or similar in Innsbruck </li>
                    <li>01 Night Accommodation in Hotel Tulip Inn or similar in Padova, Venice </li>
                    <li>01 Night Accommodation in Pisa at B& B Hotel or smilar </li>
                    <li>02 Night Accommodation in Rome at Idea Pomezia or similar</li>
                    <li>Daily Breakfast at the Hotel </li>
                    <li>Amsterdam City Tour includes Royal Palace, the National Monument, Skinny, and Windmill on the river Amsterdam. </li>
                    <li>Paris city tour includes Louvre Glass Pyramid, Garnier's Opera, Concorde, Champs Elysees, Napoleanic Arc de Triomphe and Hotel des Invalides </li>
                    <li>Visit to Eiffel Tower 3rd level and Enjoy Siene River Cruise. Full day at Fun and Excitement in Disneyland </li>
                    <li>Mt.Titlis to experience 'Titlis Rotair'-world's first revolving cable-car. Lucerne city tour Jungfrau – Top of Europe </li>
                    <li>Rhinefall with Boat Ride, Visit Lake Tittisee and Black Forest Drive </li>
                    <li>Swarovski Crystal World Museum in Wattens </li>
                    <li>Orientation tour of the Innsbruck city includes Golden Roof or 'Goldenness </li>
                    <li>Dachl'the Imperial Church and the 'Hofburg' or Imperial Palace </li>
                    <li>Guided Venice City tour with visit to Murano Glass Factory and Showroom </li>
                    <li>Pizzale Michealangelo View Point of Florence </li>
                    <li>Photo stop at Leaning Tower of Pisa </li>
                    <li>Guided Rome City Tour and Vatican Tour </li>
                    <li>Meals as per the itinerary </li>
                    <li>Visa and Travel Insurance </li>
                    <li>Services of Experiences and Caring Tour Manager </li>
                  </ul>
                </div>
              </mat-tab>
              <mat-tab label="Conditions">
                <div class="product-info-content">
                  <p>Any meals and services which is not a part of inclusions</p>
                </div>
              </mat-tab>
          </mat-tab-group>
      </div>
    </div>
    <div class="col-sm-6">
      <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/FRANKFURT.jpg" class="product-img" alt="product-image">
    </div>
  </div>
</div>
</div>
<app-home-page-footer></app-home-page-footer>

