<div class="container-fluid footer__topwrap">
    <div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="">
                <div class="footer__topwrap--container">
                    <div class="footer__topwrap--leftside">
                        <h4 class="footer__topwrap--helphead">How can we help you?</h4>
                        <h5 class="footer__topwrap--contacthead">Contact us anytime.</h5>
                        </div>
                        <div class="footer__topwrap--rightside">
                        <div class="footer__topwrap--detailbox">
                        <div class="footer__topwrap--detailleft">
                            <p>SEND US A EMAIL AT</p><p>admin@holidaybazaar.co</p>
                        </div>
                        <div class="footer__topwrap--detailright">
                            <p>CALL US AT</p>
                            <p>+91 - (8885) 513 151</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>


<div class="container-fluid footer__mainWrap">
    <div class="container">
    <div class="row">
        <div class="col-sm-3">
            <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/logo.png" class="footer-logo" alt="logo">
        </div>
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-3">
                    <h4 class="footer__topwrap--listhead">MORE LINKS</h4>
                    <ul class="footer__topwrap--menuul">
                        <li class="footer__topwrap--menulist"><a class="footer__topwrap--anchor-link" href="#">Terms &amp; conditions</a></li>
                        <li class="footer__topwrap--menulist"><a class="footer__topwrap--anchor-link" href="#">Payment Security</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4 class="footer__topwrap--listhead">POLICIES</h4>
                    <ul class="footer__topwrap--menuul">
                        <li class="footer__topwrap--menulist"><a class="footer__topwrap--anchor-link" href="">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4 class="footer__topwrap--listhead">POLICIES</h4>
                    <ul class="footer__topwrap--menuul">
                        <li class="footer__topwrap--menulist"><a class="footer__topwrap--anchor-link" href="">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <h4 class="footer__topwrap--listhead">POLICIES</h4>
                    <ul class="footer__topwrap--menuul">
                        <li class="footer__topwrap--menulist"><a class="footer__topwrap--anchor-link" href="">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
