<div class="hotelDetail py-5">
    <div class="container">
        <h3 class="title">{{data.addHotelName}} <span class="rating">{{data.addHotelRating}}</span></h3>
        <p><strong>City</strong>: {{data.addHotelCity}}</p>
        <p><strong>State</strong>: {{data.addHotelState}}</p>
        <p><strong>Country</strong>: {{data.addHotelCountry}}</p>
        <p><strong>Postal Code</strong>: {{data.addHotelPostalCode}}</p>
        <p><strong>Address</strong>: {{data.addHotelAddress}}</p>
    </div>
</div>
