<div class="container-fluid prod-wrapper">
  <div class="col-sm-12">
    <div class="backToHomePage" style="margin-top: 30px;">
      <label (click)="backToHome()"><img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/arrow.jpg" class="product-img" alt="product-image">Back</label>
    </div>
  </div>
</div>

<div class="container-fluid prodcut-wrapper">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4 style="border-bottom: 1px solid #ddd;margin-bottom: 30px;">SOUTH AMERICA TOUR</h4>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-6">
      <div class="product-details">
        <h5><label>Package ID</label><span>|</span>SOUTH AMERICA TOUR </h5>
        <h5><label>Duration</label><span>|</span> 14 Nights 15 Days</h5>
        <h5><label>Travel Date</label><span>|</span> May - 14,28 | June - 11, 25 | July - 09 &amp; 23</h5>
        <h5><label>Cost</label><span>|</span>  6,99,999.00  <i>INR</i></h5>
      </div>
      <div class="product-info">
          <mat-tab-group>
              <mat-tab label="Itinerary" style="text-transform: uppercase;">
                <div class="product-info-content">
                  <p><strong>Day 01: Arrive Lima </strong></p>
                  <p>Arrive Lima - Check in to the Hotel - Dinner - Overnight at the Lima.<b>(Dinner)</b>  </p>
                  <p><strong>Day 02: Lima (City Tour including San Francisco Monastery and Larco Museum) </strong></p>
                  <p>Breakfast - City tour of Lima - Visit San Francisco Monastery and Larco Museum <b>(Breakfast, Lunch, Dinner)</b> </p>
                  <p><strong>Day 03: Lima - Cusco (flight) - Yucay </strong></p>
                  <p> Breakfast at hotel - Transfer to airport and fly to Cusco - Arrive and transfer to Hotel, en-route visit Chinchero Community and its Sunday Market  - Proceed to El Mirador de Rachhi for a splendid view of the sacred valley - Overnight at Yucay. <b>(Breakfast, Lunch, Dinner)</b> </p>
                  <p><strong>Day 04: Yucay (Excursion to Ollantaytambo) </strong></p>
                  <p>Breakfast at hotel - Half day excursion to visit the Ollantaytambo ruins  <b> (Breakfast, Lunch, Dinner)</b> </p>
                  <p><strong>Day 05: Yucay - Excursion to Machu Pichu - Cusco </strong></p>
                  <p>Breakfast at hotel & check out - Full day excursion by Vistadome train to visit the Incan site of Machu Picchu - Travel to Cusco - Overnight stay at Cusco <b>(Breakfast, Lunch, Dinner)</b> </p>
                  <p><strong>Day 06: Cusco (Explore Cusco City including ruins of Sacsayhuaman)   </strong></p>
                  <p>Breakfast at hotel - Half day city tour including the ruins of Sacsayhuaman <b>(Breakfast, Lunch, Dinner)</b> </p>
                  <p><strong>Day 07: Full Day bus tour from Cusco to Puno   </strong></p>
                  <p>Breakfast and check out - Full day bus tour of Cusco to Puno - Visit of Andahuaylillas, Racchi and Pucara - Overnight at Puno <b>(Breakfast, Local lunch, Dinner)</b>   </p>
                  <p><strong>Day 08: Puno (Boat excursion on Lake Titicaca) - Lima (flight) </strong></p>
                  <p>Breakfast and check out - Full day boat excursion on Lake Titicaca (on shared basis) to visit the Uros floating Islands and Taquile Island - Transfer to airport and fly to Lima  Arrive Lima and transfer to Hotel  <b>(Breakfast, Packed Lunch, Dinner)</b> </p>
                  <p><strong>Day 09: Lima - Iguassu (flight) </strong></p>
                  <p>Breakfast at hotel and check - Transfer to Airport to onward flight to Iguassu - Arrive and transfer to Hotel <b>(Breakfast, Lunch, Dinner)</b> </p>
                  <p><strong>Day 10: Iguassu (visit to waterfalls) </strong></p>
                  <p>Breakfast at hotel - Visit the Argentinean and Brazilian side of the Iguassu Falls  <b>(Breakfast, Lunch, Dinner)</b> </p>
                  <p><strong>Day 11: Iguassu - Buenos Aires (flight) </strong></p>
                  <p>Breakfast at hotel and check out - Transfer to airport and fly to Buenos Aires - Upon arrival transfer to hotel - Evening experience a Tango show including Dinner. <b>(Breakfast, Lunch, Dinner)</b> </p>
                  <p><strong>Day 12: Buenos Aires (City Tour)   </strong></p>
                  <p>Breakfast at hotel - Half day city tour of Buenos Aires  <b>(Breakfast, Lunch, Dinner)</b> </p>
                  <p><strong>Day 13: Buenos Aires - Rio de Janeiro (flight)   </strong></p>
                  <p>Breakfast at hotel and check out - Transfer to airport to board flight to Rio de Janeiro - Arrive and transfer to Hotel - Day Free  <b>(Breakfast, Lunch, Dinner)</b>  </p>
                  <p><strong>Day 14: Rio de Janeiro (City Tour + Sugar Loaf and Corcovado) </strong></p>
                  <p>Breakfast at hotel - Half day city tour of Rio de Janeiro - Visit to the Sugarloaf and Corcovado   <b>(Breakfast, Lunch, Dinner)</b></p>
                  <p><strong>Day 15: Rio de Janeiro departure</strong> </p>
                  <p>Breakfast - Check out the Hotel - Transfer to airport and fly back to India     <b>(Breakfast)</b> </p>

                </div>
              </mat-tab>
              <mat-tab label="Inclusions">
                <div class="product-info-content">
                  <ul> <li>International Fight Ticket in economy class </li>
                    <li>Internal Flights </li>
                    <li>14 Nights  Accommodation with Breakfast </li>
                    <li>Services of English speaking tour manager </li>
                    <li>Sightseeing as per the tour itinerary in luxury air condition coach </li>
                    <li>Tour and entrance fees as per the itinerary </li>
                    <li>Travel Insurance </li>
                    <li>Visa Fee </li>

                  </ul>
                </div>
              </mat-tab>
              <mat-tab label="Conditions">
                <div class="product-info-content">
                  <ul>
                    <li>Any expenses of person nature like laundry, food or beverages other than the regular menu </li>
                    <li>Any tours or admission tickets other than mentioned under inclusions </li>
                    <li> Baggage handling or additional baggage charges if applicable </li>
                    <li>Any meals not mentioned in the itinerary </li>
                    <li>Any city tax payable directly at the hotel </li>
                  </ul>
                </div>
              </mat-tab>
          </mat-tab-group>
      </div>
    </div>
    <div class="col-sm-6">
      <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/AMERICA.jpg" class="product-img" alt="product-image">
    </div>
  </div>
</div>
</div>
<app-home-page-footer></app-home-page-footer>

