<div class="container-fluid prod-wrapper">
  <div class="col-sm-12">
    <div class="backToHomePage" style="margin-top: 30px;">
      <label (click)="backToHome()"><img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/arrow.jpg" class="product-img" alt="product-image">Back</label>
    </div>
  </div>
</div>

<div class="container-fluid prodcut-wrapper">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4 style="border-bottom: 1px solid #ddd;margin-bottom: 30px;">SOUTH AFRICAN SPLENDOUR </h4>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-6">
      <div class="product-details">
        <h5><label>Package ID</label><span>|</span>SOUTH AFRICAN SPLENDOUR </h5>
        <h5><label>Duration</label><span>|</span>  11 nights - 12 days </h5>
        <h5><label>Travel Date</label><span>|</span> 08 May, 2020    </h5>
        <h5><label>Cost</label><span>|</span>  1,79,999.00  <i>INR</i></h5>
      </div>
      <div class="product-info">
          <mat-tab-group>
              <mat-tab label="Itinerary" style="text-transform: uppercase;">
                <div class="product-info-content">
                  <p><strong>Day 1: 08 May: Arrive Johannesburg - Kruger National Park </strong></p>
                <p>Arrive into Johannesburg, upon arrival transfer to Kruger National Park. Check in at the hotel (International Group Check in time : Post 3 pm). Overnight at the Kruger Game Lodge.<strong> (Lunch, Dinner) </strong></p>
                <p><strong>Day 2: 09 May: Kruger National Park (Morning and Afternoon Game Drive)</strong></p>
                <p>Early morning proceed for Game drive. Return back to hotel and have breakfast. Rest of the day free at leisure. Late afternoon proceed for Game Drive. Overnight at the hotel.    <strong>(Breakfast, Lunch, Dinner) </strong></p>
                <p><strong> Day 3: 10 May: Kruger National Park - Sun City   </strong></p>
                <p> After breakfast, check out of the hotel and proceed to Suncity. Check in at the hotel (International Group Check in time: Post 3 pm). Evening free for leisure. Overnight at hotel.   <strong>(Breakfast, Lunch, Dinner) </strong></p>
                <p><strong>Day 4: 11 May: Sun City</strong></p>
                <p>After breakfast, day will be free at leisure. The Optional activity you can enjoy here includes Hot Air Ballooning (Optional). You can also relax at the Valley of the Waves Water Park (Dates of park closure may vary) or take a walk through the gardens of the Lost City. This magical city knows no limits - you have the chance to win a fortune at the Casino and Entertainment Centre, there are lavish extravaganzas and a multitude of restaurants to cater for every taste. Overnight at the Hotel.  <strong>(Breakfast, Lunch, Dinner) </strong></p>
                <p><strong>Day 5: 12 May: Sun City - Johannesburg - George </strong></p>
                <p>After breakfast, Check out of the hotel and proceed towards Johannesburg Airport to board your flight to George. Upon arrival transfer to Hotel. Check in at the hotel (International Group Check in time: Post 3 pm). Overnight at the hotel at the hotel.<strong> (Breakfast, Lunch, Dinner)</strong></p>
                <p><strong>Day 6: 13 May: George- Oudtshoorn (The Feather Capital) - Cango Caves - George </strong></p>
                <p>After breakfast, proceed to Oudtshoorn. Visit the Cango Caves where in the first six chambers of Cango Caves you shall see the stalactite and stalagmite formations which are an incredible sight. Later, we proceed to Cango Wildlife Ranch where you can discover a variety of animals seldom seen. Venture into Crocodile enclosures, visit Snake Park and Cheetah land. At the Ostrich Farm, you have an opportunity to ride the magnificent bird. Evening return back to hotel. Overnight at Hotel..    <strong>(Breakfast, Lunch, Dinner) </strong></p>
                <p><strong>Day 7: 14 May: George - Knysna - Bungy Point   </strong></p>
                <p>After breakfast, drive to Knysna for the visit to this quaint town. Proceed to Bungee point &Sky Diving (Activities at own cost). Return back to hotel. Overnight at Hotel.<strong> (Breakfast, Lunch, Dinner) </strong></p>
                <p><strong>Day 8: 15 May: George - Cape Town </strong></p>
                <p>After breakfast, check out, proceed to Cape Town. Arrive into Cape Town, upon arrival transfer to the hotel for check in. Overnight at the hotel.  <strong>(Breakfast, Lunch, Dinner) </strong></p>
                <p><strong>Day 9: 16 May: Cape Town - City Tour and Table Mountain – Helicopter Ride </strong></p>
                <p>After breakfast leave on a half-day Mother City tour. You will go for a scenic coastal drive through Clifton & Sea Point & later tour passes the Houses of Parliament, the Castle etc. A cable car ride, takes you up the Table Mountain (weather permitting otherwise Signal Hill) for a breath-taking view over the city. Later enjoy Helicopter Ride. Thereafter enjoy Catamaran Ride. After dinner experience Limo Ride for an Hour. Overnight at Hotel<strong>.      (Breakfast, Lunch, Dinner)</strong></p>
                <p><strong>Day 10: 17 May: Full Day Cape Peninsula Tour </strong></p>
                <p>After breakfast depart for Full Day Cape Peninsula Tour to explore the beauty of the Cape Peninsula. Then proceed for the Cape of Good Hope. Later enjoy a Funicular ride. Enjoy a cruise to Seal Island (Duiker Island) to view seals (weather permitting). After lunch proceed Boulder’s Beach which is home to a growing colony of the vulnerable African jackass penguins which can be viewed at close quarters. Overnight at Hotel.   <strong>(Breakfast, Lunch, Dinner) </strong></p>
                <p><strong>Day 11: 18 May: Hermanus Tour</strong></p>
                <p>After breakfast, proceed to the beautiful town of Hermanus–The heart of the Cape Whale Coast. For any intrepid tourist or appreciator of nature's wonders, Hermanus is the ideal location for an unforgettable experience. You can opt for Whale Watching optional Tour here Overnight at the Hotel.<strong> (Breakfast, Lunch, Dinner) </strong></p>
                <p><strong>Day 12: 19 May: Cape Town - Johannesburg (flight) & departure </strong></p>
                <p>After breakfast check-out and proceed to airport for your flight back to India. Return back with fun filled and unforgettable memories of your tour with us.<strong> (Breakfast)</strong></p>
                </div>
              </mat-tab>
              <mat-tab label="Inclusions">
                <div class="product-info-content">
                  <ul><strong>Inclusions:</strong>
                    <li>International flight tickets in economy class (Ex-Mumbai).</li>
                    <li>Hyderabad – Mumbai – Hyderabad domestic flight tickets in economy class.</li>
                    <li>Internal flights in economy class with 20 kg check-in baggage.</li>
                    <li>11 nights stay in given (or similar) hotels with American breakfast.</li>
                    <li>Lunch and Dinners as per mentioned itinerary.</li>
                    <li>All Airport Transfers, Inter City Travel & Sightseeing’s by Luxury Air-Conditioned Coaches.</li>
                    <li>Morning and Afternoon game drive at Kruger National Park.</li>
                    <li>City Tour of Cape Town with Cable Car and Table Mountain. Helicopter ride in Cape Town.</li>
                    <li>Full Day Cape Peninsula Tour with Funicular.</li>
                    <li>Cango Wild Life Ranch, Cango Caves & Ostrich Farm in Oudtshoorn.</li>
                    <li>John Benn Cruise and Knysna Lagoon in Knysna.</li>
                    <li>Gold Mine Tour In Johannesburg. Orientation Tour of Johannesburg.</li>
                    <li>Orientation Tour of Pretoria.</li>
                    <li>Complimentary Water Bottles (500ml x 02 each) per person per day</li>
                    <li>Transportation in a fully air - conditioned, non - smoking coach</li>
                    <li>Professional English - speaking tour guides</li>
                    <li>South Africa VISA Charges</li>

                  </ul>
                </div>
              </mat-tab>
              <mat-tab label="Conditions">
                <div class="product-info-content">
                  <ul>
                    <li>Cost does not include the following services:</li>
                    <li>Any meals which is not a part of inclusions.</li>
                    <li>Any activities or sightseeing which is not a part of inclusions.</li>
                    <li>Porterage, Pay Channels, Laundry, Wines, Mineral Water, Telephone Charges, Optional Tours And All Items Of Personal Nature, Spas Etc.</li>
                    <li>Anything Not Specifically Mentioned In Above Tour Inclusions.</li>
                  </ul>
                </div>
              </mat-tab>
          </mat-tab-group>
      </div>
    </div>
    <div class="col-sm-6">
      <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/SPLENDOUR.jpg" class="product-img" alt="product-image">
    </div>
  </div>
</div>
</div>
<app-home-page-footer></app-home-page-footer>

