<div class="container-fluid prodcut-wrapper">
  <div class="col-sm-12">
    <div class="backToHomePage" style="margin-top: 30px;">
      <label (click)="backToHome()"><img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/arrow.jpg" class="product-img" alt="product-image">Back</label>
    </div>
  </div>
</div>

<div class="container-fluid prodcut-wrapper">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4 style="border-bottom: 1px solid #ddd;margin-bottom: 30px;">Bali Departure</h4>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-6">
      <div class="product-details">
        <h5><label>Package ID</label>
          <span>|</span>Bali Departure</h5>
           <h5>
             <label>Destinations</label>
             <span>|</span> Bali</h5>
          <h5><label>Duration</label>
            <span>|</span> 4 Nights 5 Days</h5>
          <h5><label>Cost</label>
          <span>|</span>49,999 <i>INR</i>          </h5>
      </div>
      <div class="product-info">
          <mat-tab-group>
              <mat-tab label="Itinerary" style="text-transform: uppercase;">
                <div class="product-info-content">
                  <p><strong>DAY 1:  Arrive at Bali </strong></p>
                  <p>Arrive at Bali, Meet and greet at airport, transfers to Hotel , Check in at hotel, day for leisure , overnight stay at hotel. </p>
                  <p><strong>Day 2: Kintamani Volcano Tour + Ubud Market Tour </strong></p>
                  <p>After  breakfast  proceed  to  Today  after  breakfast,  embark  on  the  Kintamani  Volcano  and  Ubud  Village Tour, on which you will explore the true essence of Bali. Visit the Batuan Village, famous for traditional batik and hand weavings, Mas Village, famous for Wood carving and then past the Celuk Village famous for  silver  and  gold  works.  Thereafter,  proceed  to  the  one  of  the  most  historical  and  ancient  Hindu temples. Continue your tour to The Mount Batur and Lake Batur in Kintamani Village for stunning views of this region. The tour ends in the famous Ubud Market. Overnight in Bali (B) </p>
                  <p><strong>Day 3: City tour </strong></p>
                  <p>After breakfast proceed to bali city tour The lush green countryside laden with terraced with rice fields and palm trees, the pristine beaches, lakes, spice gardens, waterfalls, and much more - there’s tonnes to experience and enjoy on a Bali sightseeing tour. overnight stay at hotel. </p>
                  <p><strong>Day 4:  Tanah Lot Temple </strong></p>
                  <p>After breakfast , In evening we procced  the tour to visit Tanah Lot Temple for see the breathtaking view of sunset in the sea. After finish visit tanah lot temple we will go back to hotel  overnight at hotel. </p>
                  <p><strong>Day 5:  Morning Free for leisure + Later Drop to Airport </strong></p>
                  <p>After breakfast , morning for leisure later drop at airport. </p>
                </div>
              </mat-tab>
              <mat-tab label="Inclusions">
                <div class="product-info-content">
                  <ul>
                    <li>Round trip economy class airfare</li>
                    <li>04 Nights accommodation @ Bali</li>
                    <li>Return airport transfer</li>
                    <li>Daily breakfast at hotel</li>
                    <li>Half a day Denpasar city tour</li>
                    <li>Kintamani tour</li>
                    <li>Ubud market visit</li>
                    <li>Tanha lot sunset tour</li>
                    <li>All tours & transfer on Coach basis </li>
                  </ul>
                </div>

              </mat-tab>
              <mat-tab label="Conditions">
                <div class="product-info-content">
                  <p>Optional tour cost</p>
                  <ul>

                    <li>Personal & natural expenses</li>
                    <li>Food & beverages</li>
                    <li>Cancellation charges</li>
                    <li>Any increase in airfare </li>
                  </ul>
                </div>
              </mat-tab>
          </mat-tab-group>
      </div>
    </div>
    <div class="col-sm-6">
      <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/Bali_Departure.jpg" class="product-img" alt="product-image">
    </div>
  </div>
</div>
</div>
<br />
<br />
<app-home-page-footer></app-home-page-footer>

