<div class="container-fluid prod-wrapper">
  <div class="col-sm-12">
    <div class="backToHomePage" style="margin-top: 30px;">
      <label (click)="backToHome()"><img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/arrow.jpg" class="product-img" alt="product-image">Back</label>
    </div>
  </div>
</div>

<div class="container-fluid prodcut-wrapper">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4 style="border-bottom: 1px solid #ddd;margin-bottom: 30px;">Genting Cruise Lines</h4>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-6">
      <div class="product-details">
        <h5><label>Package ID</label>
        <span>|</span>Genting Cruise</h5>
        <h5>
          <label>Sailing Period</label>
          <span>|</span> 5th April - 18th November 2020</h5>
        <h5>
          <label>Ex</label>
          <span>|</span> Singapore<i></i></h5>
      </div>
      <div class="product-info">
          <mat-tab-group>
              <mat-tab label="Itinerary" style="text-transform: uppercase;">
                <div class="product-info-content">
                  <table class="table table-hover table-bordered" style="background-color: beige;text-align: center;margin-bottom: 0;">
                    <tr>
                      <th><div >SCHEDULE FOR GENTING DREAM ex SINGAPORE</div></th>
                    </tr>
                    <tr>
                      <td><div ><strong>Sailing Period: 5th April - 18th November 2020</strong></div></td>
                    </tr>
                    <tr>
                      <td><div ><strong>5 NIGHTS CRUISE (Sunday Departure)</strong></div></td>
                    </tr>
                    <tr>
                      <td><div ><strong>Penang - Phuket - Langkawi - Port Klang</strong></div></td>
                    </tr>
                  </table>

                  <table class="table table-hover table-bordered">
                    <tr>
                      <th style="background-color: #999" ><div style="text-align: center">Day</div></th>
                      <th style="background-color: #999" ><div style="text-align: center">Port</div></th>
                      <th style="background-color: #999" ><div style="text-align: center">ETA</div></th>
                      <th style="background-color: #999" ><div style="text-align: center">ETD</div></th>
                      <th style="background-color: #999" ><div style="text-align: center">Sailing Dates</div></th>
                    </tr>
                    <tr>
                      <td>Sun<br>Mon<br>Tue<br>Wed<br>Thu<br>Fri<br></td>
                      <td><p style="text-align: center">Singapore<br>Port Klang<br>Puket (Deep Sea Port/Marine Cusom Pier)<br>Langkawi<br>Penang<br>Singapore<br></td>
                      <td><p style="text-align: center">-<br>1000<br>1300(1200)<br>0800<br>0700<br>1400<br /></td>
                      <td><p style="text-align: center">1700<br>2000<br>2300(2200)<br>1800<br>1700<br>-</td>
                      <td><p style="text-align: center">May 3, 2020</td>
                    </tr>
                    <tr>
                      <td>Sun<br>Mon<br>Tue<br>Wed<br>Thu<br>Fri</td>
                      <td><div style="text-align: center">Singapore<br>Port Klang<br>Puket (Deep Sea Port/Marine Cusom Pier)<br>Langkawi<br>Port Klang<br>Singapore</div></td>
                      <td><div style="text-align: center">-<br>1300<br>1200(1100)<br>0800<br>0700<br>1400<br /></div></td>
                      <td><div style="text-align: center">1700<br>2300<br>2359(2300)<br>2000<br>2000<br>-</div></td>
                      <td>July 26, 2020</td>
                    </tr>
                    <tr>
                      <td>Sun<br>Mon<br>Tue<br>Wed<br>Thu<br>Fri</td>
                      <td><div style="text-align: center">Singapore<br>Port Klang<br>Puket (Deep Sea Port/Marine Cusom Pier)<br>Langkawi<br>Port Klang<br>Singapore</div></td>
                      <td><div style="text-align: center">-<br>1330<br>1200(1100)<br>1000<br>1000<br>1200<br /></div></td>
                      <td><div style="text-align: center">1700<br>2330<br>2359(2300)<br>2000<br>2000<br>-</div></td>
                      <td>Oct 4, 2020</td>
                    </tr>
                    <tr>
                      <th colspan="5" style="background-color: #ccc" >Visa Requirements: Multiple Entry Singapore Visa, Single Entry Malaysia Visa, Single Entry Thailand Visa </th>
                    </tr>
                    <tr>
                      <td colspan="5" style="background-color: #3399FF" ><div style="text-align: center"><strong>Redang - Ko Samui - Laem Chabang</strong></div></td>
                    </tr>
                    <tr>
                      <th style="background-color: #999" ><div style="text-align: center">Day</div></th>
                      <th style="background-color: #999" ><div style="text-align: center">Port</div></th>
                      <th style="background-color: #999" ><div style="text-align: center">ETA</div></th>
                      <th style="background-color: #999" ><div style="text-align: center">ETD</div></th>
                      <th style="background-color: #999" ><div style="text-align: center">Sailing Dates</div></th>
                    </tr>
                    <tr>
                      <td>Sun<br>Mon<br>Tue<br>Wed<br>Thu<br>Fri<br></td>
                      <td><p style="text-align: center">Singapore<br>Port Klang<br>Ko Samui<br>Bangkok (Laem Chabang)<br>High Seas<br>Singapore<br></td>
                      <td><p style="text-align: center">-<br>1000<br>0900(0800)<br>0900(0800)<br>-<br>1400<br /></td>
                      <td><p style="text-align: center">1700<br>1800<br>1800(1700)<br>2000(1900)<br>-<br>-</td>
                      <td><p style="text-align: center">Apr 12, 2020</td>
                    </tr>
                    <tr>
                      <td colspan="5" style="background-color: #ccc" >Visa Requirements: Multiple Entry Singapore, Single Entry Malaysia Visa &amp; Single Entry Thailand Visa</td>
                    </tr>
                    <tr>
                    <td colspan="5" style="background-color: #3399FF" ><div style="text-align: center"><strong>Kota Kinabalu - Palawan</strong></div></td>
                    </tr>
                    <tr>
                      <th style="background-color: #999" ><div style="text-align: center">Day</div></th>
                      <th style="background-color: #999" ><div style="text-align: center">Port</div></th>
                      <th style="background-color: #999" ><div style="text-align: center">ETA</div></th>
                      <th style="background-color: #999" ><div style="text-align: center">ETD</div></th>
                      <th style="background-color: #999" ><div style="text-align: center">Sailing Dates</div></th>
                    </tr>
                    <tr>
                      <td>Sun<br>Mon<br>Tue<br>Wed<br>Thu<br>Fri<br></td>
                      <td><p style="text-align: center">Singapore<br>High Seae<br>Kota Kinabalu<br>Palawan (Puerto Princesa)<br>High Seas<br>Singapore<br></td>
                      <td><p style="text-align: center">-<br>-<br>0700<br>0630<br>-<br>1500<br /></td>
                      <td><p style="text-align: center">1700<br>-<br>1430<br>1400<br>-<br>-</td>
                      <td><p style="text-align: center">Jun 7, 2020</td>
                    </tr>
                    <tr>
                      <td colspan="5" style="background-color: #ccc" >Visa Requirements: Multiple Entry Singapore Visa, Single Entry Malaysia Visa &amp; Single Entry Philippines Visa</td>
                    </tr>
                    <tr>
                      <td colspan="5" style="background-color: #3399FF" ><div style="text-align: center"><strong>Belitung - Christmas Island</strong></div></td>
                    </tr>
                    <tr>
                      <th style="background-color: #999" ><div style="text-align: center">Day</div></th>
                      <th style="background-color: #999" ><div style="text-align: center">Port</div></th>
                      <th style="background-color: #999" ><div style="text-align: center">ETA</div></th>
                      <th style="background-color: #999" ><div style="text-align: center">ETD</div></th>
                      <th style="background-color: #999" ><div style="text-align: center">Sailing Dates</div></th>
                    </tr>
                    <tr>
                      <td>Sun<br>Mon<br>Tue<br>Wed<br>Thu<br>Fri<br></td>
                      <td><p style="text-align: center">Singapore<br>Belitung<br>High Seas<br>Christmas Island<br>High Seas<br>Singapore<br></td>
                      <td><p style="text-align: center">-<br>1200(1100)<br>-<br>0800(0700)<br>-<br>1600<br /></td>
                      <td><p style="text-align: center">1600<br>2000(1900)<br>-<br>1600(1500)<br>-<br>-</td>
                      <td><p style="text-align: center">Sep 6, 2020</td>
                    </tr>
                  </table>

                </div>
              </mat-tab>
              <mat-tab label="Inclusions">
                <div class="product-info-content">
                  <p><strong>Inclusions:</strong></p>
                  <ul>
                   <li></li>
                  </ul>
                </div>
              </mat-tab>
              <mat-tab label="Conditions">
                <div class="product-info-content">
                  <p>add clearfix to tab-content (see the css)</p>
                </div>
              </mat-tab>
          </mat-tab-group>
      </div>
    </div>
    <div class="col-sm-6">
      <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/cruise1.jpg" class="product-img" alt="product-image">
    </div>
  </div>
</div>
</div>
<app-home-page-footer></app-home-page-footer>

