<div class="container-fluid prod-wrapper">
  <div class="col-sm-12">
    <div class="backToHomePage" style="margin-top: 30px;">
      <label (click)="backToHome()"><img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/arrow.jpg" class="product-img" alt="product-image">Back</label>
    </div>
  </div>
</div>

<div class="container-fluid prodcut-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h4 style="border-bottom: 1px solid #ddd;margin-bottom: 30px;">BEST OF EUROPE</h4>
      </div>
    </div>
    <div class="row">

      <div class="col-sm-6">
        <div class="product-details">
          <h5><label>Package ID</label>
          <span>|</span>BEST OF EUROPE</h5>
          <h5>
          <label>Travel Date</label>
          <span>|</span>22nd April 2020</h5><h5><label>Duration</label>
          <span>|</span> 11 Nights 12 Days</h5>
          <h5><label>Cost</label>
          <span>|</span> 1,74,999.00 <i>INR</i></h5>
        </div>
        <div class="product-info">
            <mat-tab-group>
                <mat-tab label="Itinerary" style="text-transform: uppercase;">
                  <div class="product-info-content">
                    <p><strong>Day 01: 22 April: Arrive Milan</strong></p>
                  <p>Upon arrival at the Milan International Airport meet our representative who will assist you to board the coach, later we proceed for the hotel check In (Standard Check in Time 1400 hours) Overnight stay at Hotel <strong>(Dinner)</strong></p>
                  <p><strong>Day 02: 23 April: Milan – Pisa (Birds Eye View from Pizzale Michaelangelo Point, Photo stop at Leaning Tower)</strong></p>
                  <p><strong>T</strong>oday after breakfast proceed towards Florence and have photostops at Piazzale Michelangelo Point and Statue of David.Later proceed for photostops at the other famous sites located on the same Field of Miracles. witness the enchanting city of Pisa to witness photostop at the wonder of the world-the Leaning Tower of Pisa. Overnight stay in Pisa.<strong> (Breakfast-Lunch-Dinner</strong>)</p>
                  <p><strong>Day 03: 24 April: Pisa – Rome (Guided Rome City Tour)</strong></p>
                  <p>After having breakfast at the hotel proceed to Rome and enjoy city tour which includes at Arch of Constantine, Circus Maximus, the legendary Trevi Fountain and photostop at the Colosseum. Later some time for shopping. Meal:<strong>:( Breakfast-Lunch-Dinner)</strong></p>
  <p><strong>Day 04: 25 April: Rome (Vatican City Tour)</strong></p>
                  <p>Today after having breakfast at hotel Proceed to Vatican City-the smallest nation in the world! This includes Vatican Museum, one of the largest museum complexes in the world, the sistine Chapel and St. Peter&amp;#39;s Square with St. Peter&amp;#39;s Basilica - one of the largest churches in the world. Meal:: <strong>(Breakfast-Lunch-Dinner)</strong></p>
  <p><strong>Day 05: 26 April: Rome – Padua, Venice (City Tour)</strong></p>
                  <p>Today after having breakfast at the hotel head Venice for city tour via canal cruise Tronchetto Pier past incredible miniature canals to the Piazza San Marco. Today also includes a tour with a brief visit to a Murano Glass Showroom for a demonstration in glass blowing. Also enjoy a romantic Gondola ride. overnight stay in Padova/VeniceMeal:: <strong>(Breakfast-Lunch-Dinner)</strong></p>
  <p><strong>Day 06: 27 April: Padua – Innsbruck (Swarovski Crystal Worlds, Innsbruck City tour)</strong></p>
                  <p>Today after having breakfast at the hotel activities include proceed to to Wattens to visit internationally renowned Swarovski Crystal Worlds where we get to see the world&amp;#39;s biggest crystal and it&amp;#39;s smallest! Later proceed for an orientation tour of the city which includes Golden Roof or &amp;#39;Goldenes Dachl&amp;#39;the Imperial Church and the &amp;#39;Hofburg&amp;#39; or Imperial Palace. Overnight in Innsbruck Meal::<strong> (Breakfast-Lunch-Dinner)</strong></p>
  <p><strong>Day 07: 28 April: Innsbruck – Rhine Falls – Swiss</strong></p>
                  <p>Today after having breakfast at the hotel, we proceed for scenic and long journey to city which is Heart of Europe i.e Switzerland. Overnight Stay in Switzerland Meal::<strong> (Breakfast-Lunch-Dinner)</strong></p>
                  <p><strong>Day 08: 29 April: Swiss (Mount Titlis with Ice Flyer, Lucerne city tour)</strong></p>
                  <p>Today we will be visiting Mt.Titlis to experience &amp;#39;Titlis Rotair&amp;#39;-world&amp;#39;s first revolving cable-car ride! Here we also experience the thrilling Ice Flyer ride and snow slides (subject to operation).Today we also get to enjoy Lucerne city tour which includes Lion Monument, Kappelbrucke Wooden Bridge. Here we also have leisure time for shopping and enjoying the local scenic beauty. Not to forget the relaxing Lake Lucerne cruise which is also part of our day in Switzerland today. Overnight at hotel.Meal::<strong> (Breakfast-Lunch-Dinner)</strong></p>
                  <p><strong>Day 09: 30 April: Swiss (Day Free)</strong></p>
                  <p>Today after breakfast, Free for your to explore the city on your own or join our optional tour for day excursion of a visit toJungfraujoch – The Top of Europe, for a memorable encounter with snow and ice. You will be amazed at the scenic splendor that you see from aboard the cogwheel train, which takes you to a height of 3500 meters to reach Jungfraujoch – Europe&amp;#39;s highest railway station! Experience the magic of the mountains and visit the Ice Palace on top of the tallest glacier in the Alps. Take an elevator to the Sphinx observatory deck. Later drive through Interlaken cityMeal::<strong> (Breakfast-Lunch-Dinner)</strong></p>
  <p><strong>Day 10: 01 May: Swiss – Paris (Seine River Cruise)</strong></p>
                  <p>After having breakfast at the hotel proceed to Pairs . Enjoy Siene River Cruise in the evening. Overnight stay at Paris. Meal::<strong> (Breakfast-Lunch-Dinner)</strong></p>
                  <p><strong>Day 11: 02 May: Paris (Guided City Tour of Paris with Eiffel Tower – 3</strong><strong>rd Level)</strong></p>
  <p>Today after having breakfast enjoy city tour of Paris which will includes the Louvre Glass Pyramid, Garnier&amp;#39;s Opera, Place de la Concorde, Champs Elysees, Napoleanic Arc de Triomphe and Hotel des Invalides. Today visit wonder of the world ascend by an elevator to the 3rd level of the iconic Eiffel Tower. Meal:: <strong>(Breakfast-Lunch-Dinner)</strong></p>
                  <p><strong>Day 12: 03 May: Paris (Free Day for shopping) – Evening fly back to India</strong></p>
                  <p>After having Breakfast at the hotel, proceed to airport for flight back home.<br>
                  Meal:: <strong>(Breakfast)</strong></p>

                  </div>
                </mat-tab>
                <mat-tab label="Inclusions">
                  <div class="product-info-content">
                    <ul> <li>Return Economy Class Airfare with Airport Taxes</li>
                      <li>Meet and Greet upon arrival by our representative.</li>
                      <li>01 Night Accommodation Hub Hotel or similar in Milan</li>
                      <li>01 Night Accommodation in Pisa at B&amp; B Hotel or similar</li>
                      <li>02 Night Accommodation oin Rome at Idea Pomezia or similar</li>
                      <li>01 Night Accommodation in Hotel Tulip Inn or similar in Padova, Venice</li>
                      <li>01 Night Accommodation in Alpine Park or similar in Innsbruck</li>
                      <li>03 Night Accommodation in Movenpick / Terrace or similar in Switzerland</li>
                      <li>02 Night Accommodation in Park Inn By Radisson or similar in Paris</li>
                      <li>Daily Breakfast at the Hotel</li>
                      <li>Pizzale Michealangelo View Point of Florence</li>
                      <li>Photo stop at Leaning Tower of Pisa</li>
                      <li>Guided Rome City Tour</li>
                      <li>Guided Vatican Tour</li>
                      <li>Guided Venice City tour with visit to Murano Glass Factory and Showroom</li>
                      <li>Gondola Ride in venice</li>
                      <li>Swarovski Crystal World Museum in Wattens</li>
                      <li>Orientation tour of the Innsbruck city includes Golden Roof or &#39;Goldenes Dachl&#39;the Imperial Church and the &#39;Hofburg&#39; or Imperial Palace</li>
                      <li>Mt.Titlis to experience &#39;Titlis Rotair&#39;-world&#39;s first revolving cable-car</li>
                      <li>Lucerne city tour which includes Lion Monument, Kappelbrucke Wooden Bridge</li>

                      <li>Paris city tour</li>

                      <li>Visit to Eiffel Tower 3rd level</li>
                      <li>Enjoy Siene River Cruise</li>
                      <li>Meals as per the itinerary</li>
                      <li>All Tours and Transfers as per the itinerary</li>
                      <li>Services of Experiences and Caring Tour Manager</li>
                      <li>Schengen Visa charges</li>
                      <li>Travel insurance worth of EURO 30,000/- up to 60 years</li>

                    </ul>
                  </div>
                </mat-tab>
                <mat-tab label="Conditions">
                  <div class="product-info-content">
                    <ul><li>Optional tour cost
                      <li>Personal and natural expenses</li>
                      <li>Any changes in airfare</li>
                      <li>Surcharges and city taxes at hotel – If applicable</li>
                      <li>GST</li>
                      <li>Personal assistance</li>
                      <li>Extra luggage</li>
                      <li>Porterage, laundry etc…</li>
                      <li>Any type of beverages</li></ul>
                  </div>
                </mat-tab>
            </mat-tab-group>
        </div>
      </div>
      <div class="col-sm-6">
        <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/EUROPE.jpg" class="product-img" alt="product-image">
      </div>
    </div>
  </div>
  </div>
<app-home-page-footer></app-home-page-footer>

