<div class="container-fluid prodcut-wrapper">
  <div class="col-sm-12">
    <div class="backToHomePage" style="margin-top: 30px;">
      <label (click)="backToHome()"><img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/arrow.jpg" class="product-img" alt="arrow">Back</label>
    </div>
  </div>
</div>

<div class="container block-wrapper">
  <div class="row">
      <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/01.jpg" alt="Company Name">
            </div>
            <div class="info">
                <h4>Nairobi from Mumbai</h4>
                <p>Sale Period: 19th - 27th Nov 2019 | Travel Period: 27th Nov 2019 Only</p>
            </div>
            <div class="readmore">
              <label for="readmore">Read more</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
      <div class="col-item">
          <div class="photo">
              <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/02.jpg" alt="Company Name">
          </div>
          <div class="info">
              <h4>Nairobi from Mumbai</h4>
              <p>Sale Period: 19th - 27th Nov 2019 | Travel Period: 27th Nov 2019 Only</p>
          </div>
          <div class="readmore">
            <label for="readmore">Read more</label>
          </div>
      </div>
      </div>
      <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/03.jpg" alt="Company Name">
            </div>
            <div class="info">
                <h4>Nairobi from Mumbai</h4>
                <p>Sale Period: 19th - 27th Nov 2019 | Travel Period: 27th Nov 2019 Only</p>
            </div>
            <div class="readmore">
              <label for="readmore">Read more</label>
            </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/01.jpg" alt="Company Name">
            </div>
            <div class="info">
                <h4>Nairobi from Mumbai</h4>
                <p>Sale Period: 19th - 27th Nov 2019 | Travel Period: 27th Nov 2019 Only</p>
            </div>
            <div class="readmore">
              <label for="readmore">Read more</label>
            </div>
        </div>
      </div>
  </div>
</div>
<app-home-page-footer></app-home-page-footer>
