<div class="container">
<div class="row">
<div class="col-sm-12">
<div class="row">
    <div class="col-sm-12">
        <div class="monitor-wrapper">
          <div class="quotation-process">
              <h5>Quotation Process</h5>
              <hr>
              <div class="card-style card-green">
                  <div class="mycard-header">Fallow-up</div>
                  <div class="mycard-body"></div>
                  <div class="mycard-link"><a href="">Go</a></div>
              </div>
              <div class="card-style card-red">
                  <div class="mycard-header">Tour Register</div>
                  <div class="mycard-body"></div>
                  <div class="mycard-link"><a href="">Go</a></div>
              </div>
              <div class="card-style card-orange">
                  <div class="mycard-header">Add Hotels & Cut of Dates</div>
                  <div class="mycard-body"></div>
                  <div class="mycard-link"><a href="">Go</a></div>
              </div>
          </div>
          <div class="tour-confirmation">
            <h5>Tour Confirmation Process</h5>
            <hr>
              <div class="card-style card-pink">
                  <div class="mycard-header">Itinerary Manager</div>
                  <div class="mycard-body"></div>
                  <div class="mycard-link"><a href="">Go</a></div>
              </div>
              <div class="card-style card-purple">
                  <div class="mycard-header">Tour Packages</div>
                  <div class="mycard-body"></div>
                  <div class="mycard-link"><a href="">Go</a></div>
              </div>
              <div class="card-style">
                  <div class="mycard-header">Reminders</div>
                  <div class="mycard-body"></div>
                  <div class="mycard-link"><a href="">Go</a></div>
              </div>
              <div class="card-style card-green">
                  <div class="mycard-header">SMS</div>
                  <div class="mycard-body"></div>
                  <div class="mycard-link"><a href="">Go</a></div>
              </div>
          </div>
        </div>
    </div>
</div>

</div>
</div>
</div>