<div class="container-fluid prodcut-wrapper">
  <div class="col-sm-12">
    <div class="backToHomePage" style="margin-top: 30px;">
      <label (click)="backToHome()"><img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/arrow.jpg" class="product-img" alt="arrow">Back</label>
    </div>
  </div>
</div>

<div class="container block-wrapper">
  <div class="row">
    <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/FRANKFURT.jpg" alt="Company Name">
            </div>
            <div class="info">
                <h4>FRANKFURT TO ROME</h4>
                <p>Travel Date: 15 May, 2020</p>
            </div>
            <div class="readmore">
               <label for="readmore" (click)="international1()">Read more</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
      <div class="col-item">
          <div class="photo">
              <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/AUSTRALIA.jpg" alt="Company Name">
          </div>
          <div class="info">
              <h4>BEST OF AUSTRALIA</h4>
              <p>Travel Date Period: 8th May 2020</p>
          </div>
          <div class="readmore">

             <label for="readmore"  (click)="international2()">Read more</label>
          </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/EUROPE.jpg" alt="Company Name">
            </div>
            <div class="info">
                <h4>BEST OF EUROPE</h4>
                <p>Travel Date: 22nd April 2020</p>
            </div>
            <div class="readmore">

               <label for="readmore" (click)="international3()">Read more</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/TURKEY.jpg" alt="Company Name">
            </div>
            <div class="info">
                <h4>GRAND TURKEY TOUR</h4>
                <p>Travel Date: 22nd May 2020</p>
            </div>
            <div class="readmore">

           <label for="readmore" (click)="international4()">Read more</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/AMERICA.jpg" alt="Company Name">
            </div>
            <div class="info">
                <h4>SOUTH AMERICA TOUR</h4>
                <p>Travel Date: May - 14,28 | June - 11, 25 | July - 09 & 23</p>
            </div>
            <div class="readmore">

           <label for="readmore" (click)="international5()">Read more</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/SPLENDOUR.jpg" alt="Company Name">
            </div>
            <div class="info">
                <h4>SOUTH AFRICAN SPLENDOUR</h4>
                <p>Travel Date: 08 May, 2020</p>
            </div>
            <div class="readmore">

           <label for="readmore" (click)="international6()">Read more</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/SWISS.jpg" alt="Company Name">
            </div>
            <div class="info">
                <h4>LONDON - PARIS - SWISS</h4>
                <p>Travel Date: 4th & 21st May 2020</p>
            </div>
            <div class="readmore">
              <label for="readmore" (click)="international7()">Read more</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/Mansarovar.jpg" alt="Company Name">
            </div>
            <div class="info">
                <h4>Kailash Mansarovar Overland Yatra</h4>
                <p>Travel Date: May, June, July, Aug & Sep</p>
            </div>
            <div class="readmore">
               <label for="readmore" (click)="international8()">Read more</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/EuropeTour.jpg" alt="Company Name">
            </div>
            <div class="info">
                <h4>Europe Tour</h4>
                <p>Travel Date: May, June, July, Aug & Sep</p>
            </div>
            <div class="readmore">
               <label for="readmore" (click)="international9()">Read more</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/SPANISH.jpg" alt="Company Name">
            </div>
            <div class="info">
                <h4>SPANISH TREASURE</h4>
                <p>Travel Date: June 16 & 30</p>
            </div>
            <div class="readmore">
               <label for="readmore" (click)="international10()">Read more</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/Chardham.jpg" alt="Company Name">
            </div>
            <div class="info">
                <h4>Chardham Yatra 2020</h4>
                <p>Ex – Delhi / Dehradun</p>
            </div>
            <div class="readmore">
               <label for="readmore" (click)="international11()">Read more</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/PARIS.jpg" alt="Company Name">
            </div>
            <div class="info">
                <h4>PARIS - SWISS</h4>
                <p>Travel Date: 7th * 24th May 2020</p>
            </div>
            <div class="readmore">
               <label for="readmore" (click)="international12()">Read more</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/EUROPE2.jpg" alt="Company Name">
            </div>
            <div class="info">
                <h4>BEST OF EUROPE</h4>
                <p>Travel Date: 07 June, 2020</p>
            </div>
            <div class="readmore">
               <label for="readmore" (click)="international13()">Read more</label>
            </div>
        </div>
    </div>
  </div>
</div>

<app-home-page-footer></app-home-page-footer>
