<div class="container-fluid prodcut-wrapper">
  <div class="col-sm-12">
    <div class="backToHomePage" style="margin-top: 30px;">
      <label (click)="backToHome()"><img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/arrow.jpg" class="product-img" alt="product-image">Back</label>
    </div>
  </div>
</div>

<div class="container-fluid prodcut-wrapper">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4 style="border-bottom: 1px solid #ddd;margin-bottom: 30px;">KUALA LUMPUR WITH BALI</h4>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-6">
      <div class="product-details">
        <h5><label>Package ID</label><span>|</span>KUALA LUMPUR WITH BALI</h5>
        <h5><label>Duration</label><span>|</span> 5 Nights 6 Days</h5>
        <h5><label>Cost</label>
        <span>|</span> 59,999 <i>INR</i>          </h5>
      </div>
      <div class="product-info">
          <mat-tab-group>
              <mat-tab label="Itinerary" style="text-transform: uppercase;">
                <div class="product-info-content">
                  <p><strong>Day 01: Arrive at Kuala Lumpur</strong></p>
                  <p>Arrive at Kuala Lumpur, Meet and greet with our Local representative and transfer to hotel.  Check in Hotel at 2:00PM, evening proceed to Genting Highland with one way cable car tour  Genting Highlands with a beautiful scenic drive along the mountains. Relax as you leave the  busy city life and the hot weather behind you. Amid the fresh air, ride the fastest mono cable  car in the world to reach the top of the hill. While on it, marvel at the beautiful panoramic view  of the green tropical rainforest below you, return to Hotel, Overnight stay in Hotel.</p>
                  <p><strong>Day 02: Kuala Lumpur to Bali</strong></p>
                  <p>After Breakfast check out from the hotel, proceed to Kuala Lumpur city tour, and See the new  King&rsquo;s Palace, the National Monument, the beautiful Lake Gardens and the National Mosque.  Visit National Museum, view the old Moorish style Railway Station and the Independence Square. At the city Centre, and then transfer to Bali, arrive Bali check in Hotel, evening proceed  to Tanha Lot Sunset tour return to Hotel, Overnight Stay in Hotel.  </p>
                  <p><strong>Note: Supplement Charge for Petronas Twin Tower INR 2000/- per Person </strong></p>
                  <p><strong>Day 03: Kintamani and ubud Tour  </strong></p>
                  <p>Enhance your experience of Bali&rsquo;s rich cultural tapestry on a full-day tour of the islands natural  and cultural highlights. gain fascinating insight into Bali&rsquo;s artistic heritage at Ubud, marvel at the  dramatic volcanic landscape of Mount Batur, an active volcano down which molten lava spills,  and immerse yourself in the colorful choreography of a Barong Dance, a traditional  performance in which the struggle between good and evil is portrayed. Return to Hotel,  Overnight stay in Hotel.</p>
                  <p><strong>Day 04: Water Sports</strong></p>
                  <p>Today free for Watersports activities on PVT transfer (1 round banana ride, 1 x parasailing, 1 x  jet ski).</p>
                  <p><strong>Day 05: Uluwatu Sunset Tour</strong></p>
                  <p>Uluwatu Sunset Tour, Where the most iconic temple and spectacular view of the cliffs are the  best in Bali. Uluwatu is our main highlight of this tour, which leads you to admire the beautiful  Balinese temple nestled on the cliff top and overlooks the wonderful Indian Ocean view.</p>
                  <p><strong>Day 06: Departure</strong></p>
                  <p>After Breakfast check out from the Hotel, keep the luggage at Hotel lobby go for shopping  evening drop at Airport for your onward journey. </p>
                  <p><strong>HOTELS USED:</strong></p>
                  <p><strong>Kuala Lumpur:</strong> Arena Star Hotel 3* or Similar</p>
                  <p><strong>Bali:</strong> The One Legian 3* or Similar</p>
                </div>
              </mat-tab>
              <mat-tab label="Inclusions">
                <div class="product-info-content">
                  <ul><li>International flight tickets in economy class with 20 kg baggage. (Ex-Hyderabad)</li>
                    <li>Airport and inter hotel transfers using private car.</li>
                    <li>01 night stay in Kuala Lumpur with buffet breakfast.</li>
                    <li>Genting Highland Tour with one way cable car.</li>
                    <li>Kuala Lumpur City Tour (supplement charges for Petronas Twin Tower INR 2000 per
                    person)</li>
                    <li>04 nights Stay with buffet breakfast.</li>
                    <li>Tanha Lot Sunset Tour</li>
                    <li>Full Day Kintamani & Ubud Tour with Private Transfers</li>
                    <li>Uluwatu Sunset Tour with Private Transfers</li>
                    <li>Water Sports Activity (Banana Boat, Jet Ski, Parasailing, Flying Fish) with Private
                    Transfers.</li></ul>
                </div>
              </mat-tab>
              <mat-tab label="Conditions">
                <div class="product-info-content">
                    Conditions
                </div>
              </mat-tab>
          </mat-tab-group>
      </div>
    </div>
    <div class="col-sm-6">
      <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/bali.jpg" class="product-img" alt="product-image">
    </div>
  </div>
</div>
</div>
<br />
<br />
<app-home-page-footer></app-home-page-footer>

