.dashboard-wrapper .col-sm-6 {
  float: left;
}

.table.table-border {
  -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.1);
box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.1);
}

.table.table-border a {
  color: #000;
}

table.table.table-border.table-hover tr td:first-child {
  width: 100%;
}

table.table.table-border.table-hover td, table.table.table-border.table-hover th {
  padding: 7px 10px;
  border-top: none;
}

.daily-alert-wrapper > h5 {
  padding: 40px 15px 10px;
}

.daily-alert-wrapper hr {
  margin: -8px 15px 20px;
}

table.table.table-border.table-hover tr {
  border-bottom: 1px solid #dbbcbc47;
}
.col-sm-4 {
  position: relative;
  width: 33.3333%;
  float: left;
}
.alert-content {

}
.alert-content h5 {
  font-size: 1rem;
  position: relative;
  text-align: center;
}

.flip {
  -webkit-perspective: 800;
}
.card1 {
  padding: 14px;
  height: 100px;
  margin-bottom: 5px;
  position: relative;
  background-color: #cce5ff;
  border-color: #b8daff;
  margin: 0 auto;
}
.flip:hover {
  border-color: #b8daff;
}
.flip:hover  .card1{
  -webkit-transform: rotatey(-180deg);
  color: #0c5460;
  background-color: #d1ecf1;
}
.flip .card1 {
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
  background-color: #cce5ff;
  border-color: #b8daff;
  -webkit-box-shadow: 0px 9px 14px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 9px 14px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 9px 14px -11px rgba(0,0,0,0.75);
}
.flip .card1 .front {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #004085;
  padding-top: 25px;
  height: 70px;
}
.flip .card1 .back {
  -webkit-transform: rotatey(-180deg);
  cursor: pointer;
  color: #004085;
  padding-top: 25px;
  height: 70px;
}


