<div class="container-fluid prodcut-wrapper">
  <div class="col-sm-12">
    <div class="backToHomePage" style="margin-top: 30px;">
      <label (click)="backToHome()"><img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/arrow.jpg" class="product-img" alt="arrow">Back</label>
    </div>
  </div>
</div>

<div class="container block-wrapper">
  <div class="row">
    <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/ASSAM.jpg" alt="Company Name">
            </div>
            <div class="info">
                <h4>ARUNACHAL PRADESH & ASSAM</h4>
                <p>Travel Date Period:01st April to 30th June, 2020</p>
            </div>
            <div class="readmore">
               <label for="readmore" (click)="domestic1()">Read more</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
      <div class="col-item">
          <div class="photo">
              <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/BHUTAN.jpg" alt="Company Name">
          </div>
          <div class="info">
              <h4>BHUTAN TOUR</h4>
              <p>Travel Date Period:01st April to 30th June, 2020</p>
          </div>
          <div class="readmore">
             <label for="readmore" (click)="domestic2()">Read more</label>
          </div>
      </div>
    </div>
    <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/UTTRAKHAND.jpg" alt="Company Name">
            </div>
            <div class="info">
                <h4>ADVENTURE IN UTTRAKHAND</h4>
                <p>Travel Date: 24th - 29th May-2020</p>
            </div>
            <div class="readmore">

               <label for="readmore" (click)="domestic3()">Read more</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/DHARAMSHALA.jpg" alt="Company Name">
            </div>
            <div class="info">
                <h4>AMRITSAR, DHARAMSHALA & DALHOUSIE TOUR</h4>
                <p>Travel Date: 20th April to 20th May</p>
            </div>
            <div class="readmore">

           <label for="readmore" (click)="domestic4()">Read more</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/DARJEELING.jpg" alt="Company Name">
            </div>
            <div class="info">
                <h4>BEST OF DARJEELING & GANGTOK</h4>
                <p>Travel Date: 01st to 31st May, 2020</p>
            </div>
            <div class="readmore">

           <label for="readmore" (click)="domestic5()">Read more</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/GANGTOK.jpg" alt="Company Name">
            </div>
            <div class="info">
                <h4>DARJEELING & GANGTOK</h4>
                <p>Travel Date: 01st to 31st May, 2020</p>
            </div>
            <div class="readmore">

           <label for="readmore" (click)="domestic6()">Read more</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/KUMARAKOM.jpg" alt="Company Name">
            </div>
            <div class="info">
                <h4>MUNNAR & KUMARAKOM</h4>
                <p>Travel Date: 01st April to 31st May, 2020</p>
            </div>
            <div class="readmore">
              <label for="readmore" (click)="domestic7()">Read more</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/RISHIKESH.jpg" alt="Company Name">
            </div>
            <div class="info">
                <h4>MUSSOORIE & RISHIKESH</h4>
                <p>Travel Date: 09th - 14th May-2020</p>
            </div>
            <div class="readmore">
               <label for="readmore" (click)="domestic8()">Read more</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/THEKKADY.jpg" alt="Company Name">
            </div>
            <div class="info">
                <h4>THEKKADY & KUMARAKOM</h4>
                <p>Travel Date: 01st April to 31st May, 2020</p>
            </div>
            <div class="readmore">
               <label for="readmore" (click)="domestic9()">Read more</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/LADAKH.jpg" alt="Company Name">
            </div>
            <div class="info">
                <h4>AMAZING LADAKH</h4>
                <p>Travel Date: 15th May to 24th June, 2020</p>
            </div>
            <div class="readmore">
               <label for="readmore" (click)="domestic10()">Read more</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/HIMACHAL.jpg" alt="Company Name">
            </div>
            <div class="info">
                <h4>HIMACHAL PRADESH</h4>
                <p>Travel Date: 01st April to 30th June, 2020</p>
            </div>
            <div class="readmore">
               <label for="readmore" (click)="domestic11()">Read more</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/OOTY.jpg" alt="Company Name">
            </div>
            <div class="info">
                <h4>KODAIKANNAL & OOTY</h4>
                <p>Travel Date: 01st April to 30th June, 2020</p>
            </div>
            <div class="readmore">
               <label for="readmore" (click)="domestic12()">Read more</label>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="col-item">
            <div class="photo">
                <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/MUNNAR-THEKKADY.jpg" alt="Company Name">
            </div>
            <div class="info">
                <h4>MUNNAR-THEKKADY & KUMARAKOM</h4>
                <p>Travel Date: 01st April to 30th June, 2020</p>
            </div>
            <div class="readmore">
               <label for="readmore" (click)="domestic13()">Read more</label>
            </div>
        </div>
    </div>
  </div>
</div>
<app-home-page-footer></app-home-page-footer>
