<div class="container-fluid prod-wrapper">
  <div class="col-sm-12">
    <div class="backToHomePage" style="margin-top: 30px;">
      <label (click)="backToHome()"><img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/arrow.jpg" class="product-img" alt="product-image">Back</label>
    </div>
  </div>
</div>

<div class="container-fluid prodcut-wrapper">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4 style="border-bottom: 1px solid #ddd;margin-bottom: 30px;">Genting Cruise Lines</h4>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-6">
      <div class="product-details">
        <h5><label>Package ID</label>
        <span>|</span>Genting Cruise</h5>
        <h5>
        <label>Sailing Period</label>
        <span>|</span> 5th April - 18th Nove' 2020</h5>
      </div>
      <div class="product-info">
          <mat-tab-group>
              <mat-tab label="Itinerary" style="text-transform: uppercase;">
                <div class="product-info-content">
                  <p><strong>Day 1: Delhi – Shimla (350 Kms / 8.5 Hours)</strong></p>
                  <p>On arrival at the Delhi Airport, meet our driver and then proceed to drive to Shimla. Have lunch  at a nice Highway dhaba enroute. Reach Shimla by evening and check into your hotel. Evening is  free for leisure activities, have dinner and stay overnight in the hotel.</p>
                  <p><strong>Day 2: Shimla Sightseeing</strong></p>
                  <p>After breakfast get ready for Kufri sightseeing. Kufri is a tiny hill station in Shimla district of  Himachal Pradesh state in India. Visit Kufri Zoo, the highest point in the surrounding region. It  hosts rare Antelopes, bears, etc. Later visit Mall Road Markets, Jhakoo temple etc Ideal time for  shopping and eating out at restaurants. Have dinner and stay overnight in the hotel.</p>
                  <p><strong>Day 3: Shimla – Kullu – Manali (250 Kms / 7.5 Hrs)</strong></p>
                  <p> After an early breakfast, check out and start to go on a beautiful drive to Manali. Enroute try  river rafting on the Beas River, do some shawl shopping at Kullu and then proceed towards  Manali. Arrive by evening, check into your hotel and relax. Evening is for leisure, have dinner  and stay overnight in the hotel.</p>
                  <p><strong>Day 4: Manali Sightseeing</strong></p>
                  <p>After your morning breakfast, proceed for a tour of Manali visiting the Hadimba Devi Temple -  built in the tranquil and serene woods, Tibetan Monastery, old Manali and the club house. In  the afternoon, visit Vashistha Temple to take a dip in the hot water springs and then have lunch  at a local restaurant/café. Return back to your hotel by evening and stay overnight.</p>
                  <p><strong>Day 5: Manali - Solang Valley - Manali</strong></p>
                  <p>Enjoy your Morning breakfast at the hotel and later get ready for an excursion to Solang Valley,  it is outstandingly beautiful and is an ideal spot to view the majestic snow-covered Himalayas,  serene natural surroundings and to experience some adventurous activities such as Paragliding,  Cable car ride, Skiing, Zorbing, etc. on direct payment basis.  Kindly Note: National Green Tribunal is allowing only limited vehicle to Rohtang pass per day. So  Rohtang Pass/ Snow Point Sightseeing can be done by own cost or by us if Permit is Available -  Pay on the spot according to the Union rate.</p>
                  <p><strong>Day 6: Manali – Delhi (550 Kms / 13 Hrs)</strong></p>
                  <p>After breakfast, check out of the hotel and start to head back to Delhi.</p>
                </div>
              </mat-tab>
              <mat-tab label="Inclusions">
                <div class="product-info-content">
                  <p><strong>Inclusions:</strong></p>
                  <ul>
                    <li>- Accommodations in well appointed rooms</li>
                    <li>- Sightseeing in an exclusive Vehicle as per itinerary</li>
                    <li>- Pick up and drop from Delhi Airport</li>
                    <li>- Daily Breakfasts and dinner</li>
                    <li>- Driver charges, fuel, toll and parking</li>
                    <li>- All hotel taxes</li>
                  </ul>
                </div>
              </mat-tab>
              <mat-tab label="Conditions">
                <div class="product-info-content">
                  <p>add clearfix to tab-content (see the css)</p>
                </div>
              </mat-tab>
          </mat-tab-group>
      </div>
    </div>
    <div class="col-sm-6">
      <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/cruise2.jpg" class="product-img" alt="product-image">
    </div>
  </div>
</div>
</div>
<app-home-page-footer></app-home-page-footer>

