body {
  font-family: sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  background-color: #fff !important;
  color: rgba(0,0,0,.87);
}
.row{
  width: 100%;
}
.header-wrapper {
  background: #277eff;
  padding: 10px 15px;
  color: #fff;
}
.footer-wrapper {
  background: #277eff;
  padding: 0.6px 15px 3px 15px;
  color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999;
  width: 100%;
}

.pdf-controlls {
  left: 10px;
  position: absolute;
}

textarea.form-control {
  min-height: 100px;
}

hr {
  margin-top: .5rem;
}

select {
  cursor: pointer;
}

.form-wrapper form label {
  margin-bottom: 3px;
}

label.radio-box {
  margin-top: 25px;
}

.header-wrapper {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  z-index: 999;
}

a {
  text-decoration: none !important;
}
.parallax-nav .container {
  display: initial;
  flex-wrap: initial;
  align-items: normal;
  justify-content: initial;
}

.parallax-nav ul li a {
  font-size: 13px;
}

.parallax-nav ul li:last-child a {
  padding-right: 0;
}

.content-wrapper {
  /*background-color: #eff3f6; */
  padding-right: 0;
  padding-left: 0;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.mat-expansion-panel-spacing mat-expansion-panel-header {
  border-bottom: 1px solid #ddd;
  border-bottom-right-radius: 0 !important;
  margin-bottom: 20px !important;
}
.mat-expansion-panel-header-title h4, .mat-expansion-panel-header-title h5 {
  margin:  1px 0;
  color: #7c7979;
  font-size: 16px;
}

.title-width-wrapper span:last-child:after {
  content: '';
  border-right: none;
}
.title-width-wrapper span:after {
  content: '';
  border-right: 1px solid #ddd;
  padding: 0 0px 0px 10px;
  margin-right: 10px;
}
.mat-expansion-panel-header-description {
  width: 200px;
  overflow: hidden;
 }

.title-width span {
  color: #7c7979;
}

.mat-expansion-panel-header-title {
   padding-top: 0;
   position: relative;
   width: 100px;
}


.alert-danger + div {
  display: none;
}
.mat-paginator-page-size-label, .mat-select-value, .mat-paginator-range-label {
  font-size: 14px;
}

.mat-accordion .mat-expansion-panel {
  margin-bottom: 10px !important;
}
.mat-expansion-panel-spacing {
  margin: 0;
}
.mat-paginator-page-size-select {
  width: 50px !important;
}

button, .edit-button {
  width: 100px;
  margin-right: 15px;
}
.edit-button + button {
  border-radius: 0;
}

mat-spinner {
  position: absolute !important;
  left: 0;
  right: 0;
  top: 200px;
  margin: 0 auto;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spinner-border {
  position: absolute;
  z-index: 999;
}

.mat-expansion-panel-header {
  padding: 30px 25px !important;
}

.date-customize mat-form-field {
  width: 100% !important;
}
.dashboard-wrapper {
  padding-top: 40px;
}
.date-customize .mat-form-field-appearance-legacy .mat-form-field-prefix .mat-datepicker-toggle-default-icon, .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-datepicker-toggle-default-icon {
  width: 1.25em !important;
  outline: none !important;
}

.date-customize .mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none !important;
}
.form-wrapper, .monitor-wrapper {
  padding-top: 30px;
  padding-bottom: 50px;
}
.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-icon-button, .mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon-button {
  outline: none !important;
}
nav.navbar.dynamic-template {
  background-color: #277eff !important;
}
img {
  max-width: 100%;
}
.send_feedbak_form {
  margin: 30px 0px;
}
.product-info .mat-tab-label {
  text-transform: uppercase;
}

nav.navbar.dynamic-template li a {
  color: #fff !important;
}
.date-customize .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0 0px 0;
  border: 1px solid transparent;
}
form .alert-danger {
  color: red;
  padding: 0;
  background-color: transparent;
  border: none;
}
.alertsymbol {
  color: red;
  position: relative;
  left: 2px;
  top: -1px;
}
button, input, optgroup, select, textarea {
  position: relative;
  z-index: 9;
  font-size: 14px !important;
}
.itinerary_content {
  border: 1px solid #ddd;
  border-radius: 4px;
  display: inline-block;
  width: 100%;
  padding: 15px;
  margin-bottom: 19px;
}
.tips_wrapper .form-group, .cost_wrapper .form-group, .thank_you_note_wrapper .form-group, .inclusion_exclusion .form-group {
  display: block !important;
}
.itenerary-sub .mat-tab-label-active, .itenerary-sub .mat-tab-label.mat-ripple.mat-tab-label-active.ng-star-inserted {
  background-color: #fff !important;
}
.itenerary-sub .mat-tab-header, .itenerary-sub .mat-tab-nav-bar {
  border: none !important
}
.itenerary-sub .mat-tab-label {
  opacity: 1;
  padding: 0 0;
  min-width: 155px;
}

.invoice_logo {
  float: right;
}
.mat-tab-label-active, .mat-tab-label.mat-ripple.mat-tab-label-active.ng-star-inserted {
  background-color: #ddd;
  color: #000 !important;
}
.day-wise-sub-wrapper .mat-tab-body-wrapper {
  margin-top: 20px;
}
/*
  Should not show in PDF or Print...
*/
@media print {
  .header-wrapper {
    display: none !important;
  }
  .footer-wrapper {
    display: none !important;
  }
  .downloadPDF {
    display: none !important;
  }
  .mypdf {
    background: transparent !important;
    position: static !important;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    color: #fff;
  }

  .days h5 {
    color: #000;
  }

  .pdftitle {
    text-align: center;
    color: #000;
    text-decoration: underline;
    margin-bottom: 50px;
  }

  .invoice_address h5 {
    color: #000;
  }
  .proforma_invoice textarea {
    color: #000 !important;
    padding: 0;
  }
  .invoice_number td {
    padding: 0px 10px 0 !important;
    vertical-align: initial;
  }
  .invoice_number input {
    padding: 0 !important;
  }

  select {
    border: 1px solid #fff;
    padding: 8px;
  }

  .invoice_billing_note textarea, .itinerary_manager input, .itinerary_manager textarea, .itinerary_manager select {
    border: 1px solid #ddd;
    padding: 8px;
  }
  .form-control {
    border: none;
    outline: none !important;
    box-shadow: none !important;
    padding: 0;
    background: transparent !important;
  }

  h1,  h2, h3, h4, h5 {
    color: #fff;
  }
  hr {
    border-top: 1px solid #fff !important;
  }
  .proforma_invoice {
    margin: 30px;
  }
  .mypdf button {
    display: none;
  }
  .menu-wrapper {
    display: none;
  }
  .checkmark {
    background-color: transparent !important;
  }
  .form-wrapper .package-block-wrapper label {
    color: #fff !important;
  }
}


/* Product Pages Style Start */
.backToHomePage label {
  cursor: pointer;
}
.product-details h5 span {
  color: #cccc;
  margin: 10px;
}
.product-details h5 i {
  color: #919191cc;
  font-style: initial;
  font-size: 13px;
}
.product-info-content .table th, .product-info-content .table td {
  padding: 8px;
}
.product-info-content ul {
  padding: 0 15px;
  list-style: square;
}
.product-details h5 label {
  width: 150px;
}
.product-details {
  margin: 0 0 20px 0;
}
.product-info {
  margin: 50px 0;
}

.product-info-content {
  margin: 30px 0;
}
.mat-tab-label {
  text-transform: uppercase !important;
}
.backToHomePage img {
  width: 20px;
  transform: rotate(180deg);
  margin: -3px 5px 0px 50px;
}



/* Product pages style END */

div#grid.image-cropper {
  grid-template-columns: repeat(9,1fr) !important;
  height: 130px !important;
  grid-template-rows: 100px;
}

div#grid.image-cropper img {
  width: 120px !important;
}

div#grid {
 grid-template-columns: repeat(9,1fr) !important;
 height: 130px !important;
 grid-template-rows: 100px;
}

angular-image-slider {
  width: 100%;
}

#slider-buttons-right {
  top: 25px !important;
}

#slider-buttons-left {
  top: 25px !important;
}

.image-cropper img {
  max-width: initial !important;
  max-height: initial !important;
}

.corporate-wrapper div#grid.image-cropper {
  grid-template-columns: repeat(22,1fr) !important;
  overflow: hidden;
}

.corporate-wrapper div#grid.image-cropper img {
  width: 170px !important;
}

@media screen and (max-width: 767px) {
  .footer__topwrap--rightside {
    width: 100% !important;
    margin-top: 15px;
  }
  section.module.parallax {
      height: 300px !important;
  }
  .backToHomePage img {
      margin: 0;
      margin-left: -15px;
  }
  img.header-logo {
    position: absolute !important;
    top: 5px !important;
    margin: 0 auto;
    text-align: center;
    left: 0;
    margin-right: auto !important;
    right: 0;
  }

  nav.navbar {
    height: 120px !important;
  }
  ul.nav.navbar-nav {
      padding-top: 5px;
      margin-top: 60px;
    margin-left: -42px;
  }
  ul.nav.navbar-nav.navbar-right {
    position: absolute;
      right: 20px;
      top: 10px;
  }
  .contact-us-wrapper form .col-sm-12, .contact-us-wrapper form .col-sm-4 {
      padding: 0;
  }
  .our-partners .col-sm-2 {
      width: 100% !important;
      float: none !important;
      text-align: center;
      margin: 5px 0;
  }
  .our-partners {
      display: block !important;
      overflow: hidden;
  }
  .description-about-us p {
      text-align: justify;
  }

  .login-content {
    width: 100% !important;
    height: 350px !important;
  }
  .login-wrapper .row {
      display: block;
  }
  .login-content .col-sm-6:first-child {
      display: none !important;
  }
  .login-content .col-sm-6:last-child {
      border-radius: 20px !important;
  }
  .content-login-block.login-wrapper {
      display: block !important;
      padding: 0 10px !important;
  }
  .footer__mainWrap .footer-logo {
    display: none;
  }
  .aboutus-slider h5 {
    padding: 0px 0 5px 0px !important;
  }
  .container-fluid.prodcut-wrapper .col-sm-6 {
    padding: 0;
  }
  .container-fluid.prodcut-wrapper .container .row .col-sm-12 {
    padding: 0;
    margin-top: 30px;
  }
  .product-info-content p {
    font-size: 14px;
    text-align: justify;
  }
  .login-content .col-sm-6 {
    display: none;
  }
  .mobile_view h5 {
    font-size: 14px;
    text-align: center;
    color: red;
    display: block;
  }
  ul.nav.navbar-nav.navbar-right {
    display: none;
  }
}

.mobile_view h5 {
  display: none;
}
.vouchers_details .col-sm-3 {
  float: left;
}
.hotel_vouchers {
  margin: 30px 0;
}
.hotel_vouchers h5 {
  border-bottom: 1px solid #ddd;
  clear: both;
  color: #575555;
  font-size: 15px;
}
.hotel_vouchers label, .hotel_vouchers select, .hotel_vouchers input, .hotel_vouchers textarea {
  color: #575555
}
.vouchers_details {
  margin: 30px 0;
}

.hotel_details .table-bordered td, .hotel_details .table-bordered th {
  border: 1px solid #dee2e6;
  padding: 8px;
}
.hotel_details  .table thead th {
 font-weight: 560;
}
.emergency_contacts .col-sm-6 {
  float: left;
}

.sightseeingCloseDay2_01,
.sightseeingCloseDay3_01,
.sightseeingCloseDay4_01,
.sightseeingCloseDay5_01,
.sightseeingCloseDay6_01,
.sightseeingCloseDay7_01,
.sightseeingCloseDay8_01,
.sightseeingCloseDay9_01,
.sightseeingCloseDay10_01,
.sightseeingCloseDay11_01,
.sightseeingCloseDay12_01,
.sightseeingCloseDay13_01,
.sightseeingCloseDay14_01,
.sightseeingCloseDay15_01,
.sightseeingCloseDay16_01,
.sightseeingCloseDay17_01,
.sightseeingCloseDay18_01,
.sightseeingCloseDay19_01,
.sightseeingCloseDay20_01,
.sightseeingCloseDay21_01,
.sightseeingCloseDay22_01,
.sightseeingCloseDay2_02,
.sightseeingCloseDay2_03,
.sightseeingCloseDay2_04,
.sightseeingCloseDay2_05,
.sightseeingCloseDay2_06,
.sightseeingCloseDay2_07,
.sightseeingCloseDay2_08,
.sightseeingCloseDay2_09,
.sightseeingCloseDay2_10,
.sightseeingCloseDay3_02,
.sightseeingCloseDay3_03,
.sightseeingCloseDay3_04,
.sightseeingCloseDay3_05,
.sightseeingCloseDay3_06,
.sightseeingCloseDay3_07,
.sightseeingCloseDay3_08,
.sightseeingCloseDay3_09,
.sightseeingCloseDay3_10,
.sightseeingCloseDay4_02,
.sightseeingCloseDay4_03,
.sightseeingCloseDay4_04,
.sightseeingCloseDay4_05,
.sightseeingCloseDay4_06,
.sightseeingCloseDay4_07,
.sightseeingCloseDay4_08,
.sightseeingCloseDay4_09,
.sightseeingCloseDay4_10,
.sightseeingCloseDay5_02,
.sightseeingCloseDay5_03,
.sightseeingCloseDay5_04,
.sightseeingCloseDay5_05,
.sightseeingCloseDay5_06,
.sightseeingCloseDay5_07,
.sightseeingCloseDay5_08,
.sightseeingCloseDay5_09,
.sightseeingCloseDay5_10,
.sightseeingCloseDay7_02,
.sightseeingCloseDay7_03,
.sightseeingCloseDay7_04,
.sightseeingCloseDay7_05,
.sightseeingCloseDay7_06,
.sightseeingCloseDay7_07,
.sightseeingCloseDay7_08,
.sightseeingCloseDay7_09,
.sightseeingCloseDay7_10,
.sightseeingCloseDay6_02,
.sightseeingCloseDay6_03,
.sightseeingCloseDay6_04,
.sightseeingCloseDay6_05,
.sightseeingCloseDay6_06,
.sightseeingCloseDay6_07,
.sightseeingCloseDay6_08,
.sightseeingCloseDay6_09,
.sightseeingCloseDay6_10,
.sightseeingCloseDay8_02,
.sightseeingCloseDay8_03,
.sightseeingCloseDay8_04,
.sightseeingCloseDay8_05,
.sightseeingCloseDay8_06,
.sightseeingCloseDay8_07,
.sightseeingCloseDay8_08,
.sightseeingCloseDay8_09,
.sightseeingCloseDay8_10,
.sightseeingCloseDay9_02,
.sightseeingCloseDay9_03,
.sightseeingCloseDay9_04,
.sightseeingCloseDay9_05,
.sightseeingCloseDay9_06,
.sightseeingCloseDay9_07,
.sightseeingCloseDay9_08,
.sightseeingCloseDay9_09,
.sightseeingCloseDay9_10,
.sightseeingCloseDay10_02,
.sightseeingCloseDay10_03,
.sightseeingCloseDay10_04,
.sightseeingCloseDay10_05,
.sightseeingCloseDay10_06,
.sightseeingCloseDay10_07,
.sightseeingCloseDay10_08,
.sightseeingCloseDay10_09,
.sightseeingCloseDay10_10,
.sightseeingCloseDay11_02,
.sightseeingCloseDay11_03,
.sightseeingCloseDay11_04,
.sightseeingCloseDay11_05,
.sightseeingCloseDay11_06,
.sightseeingCloseDay11_07,
.sightseeingCloseDay11_08,
.sightseeingCloseDay11_09,
.sightseeingCloseDay11_10,
.sightseeingCloseDay12_02,
.sightseeingCloseDay12_03,
.sightseeingCloseDay12_04,
.sightseeingCloseDay12_05,
.sightseeingCloseDay12_06,
.sightseeingCloseDay12_07,
.sightseeingCloseDay12_08,
.sightseeingCloseDay12_09,
.sightseeingCloseDay12_10,
.sightseeingCloseDay13_02,
.sightseeingCloseDay13_03,
.sightseeingCloseDay13_04,
.sightseeingCloseDay13_05,
.sightseeingCloseDay13_06,
.sightseeingCloseDay13_07,
.sightseeingCloseDay13_08,
.sightseeingCloseDay13_09,
.sightseeingCloseDay13_10,
.sightseeingCloseDay14_02,
.sightseeingCloseDay14_03,
.sightseeingCloseDay14_04,
.sightseeingCloseDay14_05,
.sightseeingCloseDay14_06,
.sightseeingCloseDay14_07,
.sightseeingCloseDay14_08,
.sightseeingCloseDay14_09,
.sightseeingCloseDay14_10,
.sightseeingCloseDay15_02,
.sightseeingCloseDay15_03,
.sightseeingCloseDay15_04,
.sightseeingCloseDay15_05,
.sightseeingCloseDay15_06,
.sightseeingCloseDay15_07,
.sightseeingCloseDay15_08,
.sightseeingCloseDay15_09,
.sightseeingCloseDay15_10,
.sightseeingCloseDay16_02,
.sightseeingCloseDay16_03,
.sightseeingCloseDay16_04,
.sightseeingCloseDay16_05,
.sightseeingCloseDay16_06,
.sightseeingCloseDay16_07,
.sightseeingCloseDay16_08,
.sightseeingCloseDay16_09,
.sightseeingCloseDay16_10,
.sightseeingCloseDay17_02,
.sightseeingCloseDay17_03,
.sightseeingCloseDay17_04,
.sightseeingCloseDay17_05,
.sightseeingCloseDay17_06,
.sightseeingCloseDay17_07,
.sightseeingCloseDay17_08,
.sightseeingCloseDay17_09,
.sightseeingCloseDay17_10,
.sightseeingCloseDay18_02,
.sightseeingCloseDay18_03,
.sightseeingCloseDay18_04,
.sightseeingCloseDay18_05,
.sightseeingCloseDay18_06,
.sightseeingCloseDay18_07,
.sightseeingCloseDay18_08,
.sightseeingCloseDay18_09,
.sightseeingCloseDay18_10,
.sightseeingCloseDay19_02,
.sightseeingCloseDay19_03,
.sightseeingCloseDay19_04,
.sightseeingCloseDay19_05,
.sightseeingCloseDay19_06,
.sightseeingCloseDay19_07,
.sightseeingCloseDay19_08,
.sightseeingCloseDay19_09,
.sightseeingCloseDay19_10,
.sightseeingCloseDay20_02,
.sightseeingCloseDay20_03,
.sightseeingCloseDay20_04,
.sightseeingCloseDay20_05,
.sightseeingCloseDay20_06,
.sightseeingCloseDay20_07,
.sightseeingCloseDay20_08,
.sightseeingCloseDay20_09,
.sightseeingCloseDay20_10,
.sightseeingCloseDay21_02,
.sightseeingCloseDay21_03,
.sightseeingCloseDay21_04,
.sightseeingCloseDay21_05,
.sightseeingCloseDay21_06,
.sightseeingCloseDay21_07,
.sightseeingCloseDay21_08,
.sightseeingCloseDay21_09,
.sightseeingCloseDay21_10,
.sightseeingCloseDay22_02,
.sightseeingCloseDay22_03,
.sightseeingCloseDay22_04,
.sightseeingCloseDay22_05,
.sightseeingCloseDay22_06,
.sightseeingCloseDay22_07,
.sightseeingCloseDay22_08,
.sightseeingCloseDay22_09,
.sightseeingCloseDay22_10 {
  display: none;
}


.pdf-page-wrapper .pdf-controlls {
  left: 10px;
  position: absolute;
  margin: -18px 0 0 0;
}

.pdf-page-wrapper .mat-action-row {
  padding: 23px 8px 23px 24px;
}

.col-item {
  border: 1px solid #e2e2e2;
  background: #fff;
  margin-bottom: 30px;
  min-height: 360px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 35px 28px -34px rgba(0, 0, 0, 0.23);
  transition: 0.5s;
}
.col-item .photo {
  overflow: hidden;
}
.col-item .info {
  padding: 10px;
  border-radius: 0 0 5px 5px;
  margin-top: 1px;
}
.readmore {
  position: absolute;
  color: #007bff;
  bottom: 0;
  padding: 5px 15px;
  font-weight: 500;
  letter-spacing: 2px;
  right: 0;
}
.col-item .photo img {
  margin: 0 auto;
  width: 100%;
  transition: 0.5s;
}
.col-item .info h4 {
  font-weight: 600;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}
.col-item .info p {
  color: #666;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}
.readmore label {
  margin-bottom: 0;
  cursor: pointer;
  font-size: 13px;
}



@media print {
  .mat-expansion-panel, .mat-expansion-panel-header, .mat-action-row {
    display: none !important;
  }
  .mat-expansion-panel.mat-expanded {
    display: block !important;
  }

  .pdf-page-break {
    page-break-after: always;
    page-break-inside: avoid;
  }

}

