<div class="container-fluid prodcut-wrapper">
  <div class="col-sm-12">
    <div class="backToHomePage" style="margin-top: 30px;">
      <label (click)="backToHome()"><img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/arrow.jpg" class="product-img" alt="product-image">Back</label>
    </div>
  </div>
</div>

<div class="container-fluid prodcut-wrapper">
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h4 style="border-bottom: 1px solid #ddd;margin-bottom: 30px;">Europe Tour</h4>
    </div>
  </div>
  <div class="row">

    <div class="col-sm-6">
      <div class="product-details">
        <h5><label>Package ID</label>
          <span>|</span>Europe Tour</h5>
        <h5><label>Duration</label>
          <span>|</span> 6 Nights 7 Days</h5>
        <h5><label>Cost</label>
          <span>|</span> 99,999 <i>INR</i></h5>
         <h5>
           <label>Departure</label>
           <span>|</span>May 2020</h5>
      </div>
      <div class="product-info">
          <mat-tab-group>
              <mat-tab label="Itinerary" style="text-transform: uppercase;">
                <div class="product-info-content">

                <p><strong>Day 01:</strong></p>
                <p>Arrive Prague - transfer to hotel - Evening Vltava River Cruise - dinner at Indian restaurant</p>
                <p><strong>Day 02:</strong></p>
                <p>Breakfast at hotel - Guided City tour of Prague - Lunch at Indian restaurant - Evening Free - Dinner at Indian Restaurant </p>
                <p><strong>Day 03: </strong></p>
                <p>Breakfast at hotel - Check out - Travel to Budapest - En-route Orientation Tour of Bratislava - Lunch at Indian Restaurant - Arrive and  check into hotel - Dinner at Indian Restaurant.</p>
                <p><strong>Day 04: </strong></p>
                <p>Breakfast at hotel - Guided City Tour of Budapest - Visit to Thermal Bath - Lunch at Indian restaurant - Evening free - dinner at Indian  Restaurant</p>
                <p><strong>Day 05:</strong></p>
                <p>Breakfast at hotel - Check out and travel to Vienna - Arrive and check into hotel - Lunch at Indian restaurant - Orientation Tour of Vienna -  Dinner at Indian restaurant</p>
                <p><strong>Day 06</strong></p>
                <p> Breakfast at hotel - Day Excursion to Melk & Danube Valley (Packed lunch to be offered) - Return back to Vienna - Dinner at Indian  restaurant  </p>
                <p><strong>Day 07: </strong></p>
                <p>Breakfast at Indian Restaurant - Check out and transfer to Vienna airport to board flight back to India. </p>
                </div>
              </mat-tab>
              <mat-tab label="Inclusions">
                <div class="product-info-content">
                  <ul><li>International flight tickets in economy class. (Ex-Hyderabad)</li>
                    <li>06 nights stay in 4* hotels with buffet breakfast. (02N Prague, 02N Budapest and 02N Vienna)</li>
                    <li>Airport transfers and sightseeing using coach bus.</li>
                    <li>Vltava river cruise in Prague</li>
                    <li>Visit Thermal Bath in Budapest</li>
                    <li>Half day Prague, Bratislava, Budapest & Vienna City Tour</li>
                    <li>Day excursion to Melk & Danube Valley and Entrance to Melk Abbey in Vienna</li>
                    <li>04 Lunches, 01 packed Lunch & 06 dinners in Indian Restaurants.</li>
                    <li>Visa Charges and Travel Insurance.</li>
                    <li>01 Tour Manager throughout the tour</li>
                    <li>02 bottles mineral water daily during sightseeing.</li> </ul>
                </div>
              </mat-tab>
              <mat-tab label="Conditions">
                <div class="product-info-content">
                  <p>add clearfix to tab-content (see the cs</p>
                </div>
              </mat-tab>
          </mat-tab-group>
      </div>
    </div>
    <div class="col-sm-6">
      <img src="https://holidaybazaar.s3-us-west-2.amazonaws.com/Eastern_Europe.jpg" class="product-img" alt="product-image">
    </div>
  </div>
</div>
</div>
<br />
<br />
<app-home-page-footer></app-home-page-footer>

